.p-media {
    align-items: center;
    display: block;
    @include minScreen($breakpoint_mobile) {
        display: flex;
    }
    &__img {
        margin-left: 15px;
        margin-right: 15px;
        width: 100%;
        @include minScreen($breakpoint_mobile) {
            width: calc(((100% - 30px * 12) / 12) * 3 + 30px * 2);
        }
    }
    &__body {
        margin-left: 15px;
        margin-right: 15px;
        width: 100%;
        @include minScreen($breakpoint_mobile) {
            width: calc(((100% - 30px * 12) / 12) * 9 + 30px * 8);
        }
    }
    &__contentsWrapper {
        position: relative;
        width: 100%;
        padding-top: 56.25%;
    }
    &__contents {
        position: absolute;
        top: 0;
        right: 0;
        width: 100% !important;
        height: 100% !important;
    }
}