<%- include('inc/_header', ); %>
    <main class="l-main p-main">
        <section class="p-slider">
            トップイメージ
        </section>


        <section class="p-bgWhite">
            <div class="p-bgWhite__inner">
                <div class="p-table__wrap">
                    <table class="c-table p-table">
                        <tr class="c-table__row p-table__row">
                            <th class="c-table__header p-table__header">Light sourceLight sourceLight source</th>
                            <td class="c-table__text p-table__text">
                                <ul>
                                    <li>Lorem ipsum dolor
                                        <li></li>sit amet consectetur
                                        <li></li>adipisicing elit
                                        <li></li>
                                </ul>
                            </td>
                        </tr>
                        <tr class="p-table__row">
                            <th class="c-table__header p-table__header">Dimensions(WxHxD)</th>
                            <td class="c-table__text p-table__text">
                                <ul>
                                    <li>Lorem ipsum dolor
                                        <li></li>sit amet consectetur
                                        <li></li>adipisicing elit
                                        <li></li>
                                </ul>
                            </td>
                        </tr>
                        <tr class="p-table__row">
                            <th class="c-table__header p-table__header">Weight</th>
                            <td class="c-table__text p-table__text">
                                <ul>
                                    <li>Lorem ipsum dolor
                                        <li></li>sit amet consectetur
                                        <li></li>adipisicing elit
                                        <li></li>
                                </ul>
                            </td>
                        </tr>
                        <tr class="p-table__row">
                            <th class="c-table__header p-table__header">Power supply voltage</th>
                            <td class="c-table__text p-table__text">
                                <ul>
                                    <li>Lorem ipsum dolor
                                        <li></li>sit amet consectetur
                                        <li></li>adipisicing elit
                                        <li></li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
        </section>


        <section class="p-bgWhite">
            <div class="p-bgWhite__inner--noPadding">
                <div class="p-tableProduct">
                    <div class="p-tableProduct__inner">
                        <table class="c-table p-tableProduct">
                            <tr class="c-table__row p-tableProduct__row">
                                <th class="c-table__header p-tableProduct__partWidth">Parts</th>
                                <th class="c-table__header p-tableProduct__applicationsWidth">Applications</th>
                                <th class="c-table__header p-tableProduct__appearancetWidth">Appearance</th>
                                <th class="c-table__header p-tableProduct__qtyWidth">Qty</th>
                                <th class="c-table__header p-tableProduct__remarksWidth">Remarks</th>
                            </tr>
                            <tr class="p-tableProduct__row">
                                <td class="c-table__text p-tableProduct__text">
                                    <span class="p-link icon-mate">Plunger assembly</span>
                                </td>
                                <td class="c-table__text p-tableProduct__text">
                                    228-17019-93
                                </td>
                                <td class="c-table__image p-tableProduct__text">
                                    <img src="../image/bird.PNG" alt="">
                                </td>
                                <td class="c-table__text p-tableProduct__text">
                                    1
                                </td>
                                <td class="c-table__text p-tableProduct__text">
                                    1
                                </td>

                            </tr>
                            <tr class="p-tableProduct__row">
                                <td class="c-table__text p-tableProduct__text">
                                    <span class="p-link icon-mate">Plunger assembly</span>
                                </td>
                                <td class="c-table__text p-tableProduct__text">
                                    228-17019-93
                                </td>
                                <td class="c-table__image p-tableProduct__text">
                                    <img src="../image/bird.PNG" alt="">
                                </td>
                                <td class="c-table__text p-tableProduct__text">
                                    1
                                </td>
                                <td class="c-table__text p-tableProduct__text">
                                    1
                                </td>

                            </tr>
                            <tr class="p-tableProduct__row">
                                <td class="c-table__text p-tableProduct__text">
                                    <span class="p-link icon-mate">Plunger assembly</span>
                                </td>
                                <td class="c-table__text p-tableProduct__text">
                                    228-17019-93
                                </td>
                                <td class="c-table__image p-tableProduct__text">
                                    <img src="../image/bird.PNG" alt="">
                                </td>
                                <td class="c-table__text p-tableProduct__text">
                                    1
                                </td>
                                <td class="c-table__text p-tableProduct__text">
                                    1
                                </td>

                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </section>

        <section class="p-bgWhite">
            <div class="p-bgWhite__inner">
                <div class="p-tableApplications__wrap">
                    <table class="c-table p-tableApplications">
                        <tr class="c-table__row p-tableApplications__row">
                            <th class="c-table__header p-tableApplications__applicationsWidth">Applications</th>
                            <th class="c-table__header p-tableApplications__header">Instrument</th>
                        </tr>
                        <tr class="p-tableApplications__row">
                            <td class="c-table__text p-tableApplications__text">
                                <span class="p-link icon-mate">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span> </td>
                            <td class="c-table__text p-tableApplications__text">
                                HPLC
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
        </section>


        <section class="p-bgWhite">
            <div class="p-bgWhite__inner--noPadding">
                <div class="p-tableCompare">
                    <div class="p-tableCompare__inner">
                        <table class="c-table p-tableCompare">
                            <tr class="c-table__row p-tableCompare__row">
                                <th class="c-table__image--noBorder" style="width:15%"></th>
                                <th class="c-table__image--noBorder" style="width: 10%;"></th>
                                <th class="c-table__image--noBorder"><img src="../image/car.PNG" alt=""></th>
                                <th class="c-table__image--noBorder"><img src="../image/car.PNG" alt=""></th>
                                <th class="c-table__image--noBorder"><img src="../image/car.PNG" alt=""></th>
                                <th class="c-table__image--noBorder"><img src="../image/car.PNG" alt=""></th>
                                <th class="c-table__image--noBorder"><img src="../image/car.PNG" alt=""></th>
                            </tr>
                            <tr class="p-tableCompare__row">
                                <th class="c-table__header p-tableCompare__text" colspan="2">
                                    Parts
                                </th>
                                <th class="c-table__header--textNormal p-tableCompare__text">
                                    <span class="p-link icon-mate">Lorem</span>
                                </th>
                                <th class="c-table__header--textNormal p-tableCompare__text">
                                    <span class="p-link icon-mate">ipsum</span>
                                </th>
                                <th class="c-table__header--textNormal p-tableCompare__text">
                                    <span class="p-link icon-mate">dolor sit</span>
                                </th>
                                <th class="c-table__header--textNormal p-tableCompare__text">
                                    <span class="p-link icon-mate">adipisicing</span>
                                </th>
                                <th class="c-table__header--textNormal p-tableCompare__text">
                                    <span class="p-link icon-mate">elit.</span>
                                </th>
                            </tr>
                            <tr class="p-tableCompare__row">
                                <th class="c-table__header p-tableCompare__text" colspan="2">
                                    Plunger assembly
                                </th>
                                <td class="c-table__text p-tableCompare__text">
                                    Lorem
                                </td>
                                <td class="c-table__text p-tableCompare__text">
                                    ipsum
                                </td>
                                <td class="c-table__text p-tableCompare__text">
                                    ,
                                </td>
                                <td class="c-table__text p-tableCompare__text">
                                    sit
                                </td>
                                <td class="c-table__text p-tableCompare__text">
                                    consectetur
                                </td>
                            </tr>
                            <tr class="p-tableCompare__row">
                                <th class="c-table__header p-tableCompare__text" rowspan="2">
                                    Plunger assembly
                                </th>

                                <th class="c-table__header p-tableCompare__text">
                                    300
                                </th>
                                <td class="c-table__text p-tableCompare__text">
                                    Lorem
                                </td>
                                <td class="c-table__text p-tableCompare__text">
                                    ipsum
                                </td>
                                <td class="c-table__text p-tableCompare__text">
                                    ,
                                </td>
                                <td class="c-table__text p-tableCompare__text">
                                    sit
                                </td>
                                <td class="c-table__text p-tableCompare__text">
                                    consectetur
                                </td>
                            </tr>
                            <tr class="p-tableCompare__row">
                                <th class="c-table__header p-tableCompare__text">
                                    300
                                </th>
                                <td class="c-table__text p-tableCompare__text">
                                    Lorem
                                </td>
                                <td class="c-table__text p-tableCompare__text">
                                    ipsum
                                </td>
                                <td class="c-table__text p-tableCompare__text">
                                    ,
                                </td>
                                <td class="c-table__text p-tableCompare__text">
                                    sit
                                </td>
                                <td class="c-table__text p-tableCompare__text">
                                    consectetur
                                </td>
                            </tr>
                            <tr class="p-tableCompare__row">
                                <th class="c-table__header p-tableCompare__text" colspan="2">
                                    Plunger assembly
                                </th>
                                <td class="c-table__text p-tableCompare__text">
                                    Lorem
                                </td>
                                <td class="c-table__text p-tableCompare__text">
                                    ipsum
                                </td>
                                <td class="c-table__text p-tableCompare__text">
                                    ,
                                </td>
                                <td class="c-table__text p-tableCompare__text">
                                    sit
                                </td>
                                <td class="c-table__text p-tableCompare__text">
                                    consectetur
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </section>



        <section class="p-recomended">
            <div class="p-recomended__inner">
                <div class="l-block">
                    <% for(let i = 0; i < 4; i++){ %>
                        <%- include('inc/_p-card',{className:"l-blockItem1to2"}); %>
                            <% }; %>
                </div>
            </div>
        </section>
        <section class="p-heading">
            <div class="p-heading__inner">
                <div class="l-block">
                    <p class="l-blockItem">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis vel, perspiciatis mollitia voluptas voluptatem ab magni deserunt minima animi eius dolores reprehenderit ullam itaque suscipit consequatur qui? Quasi, maxime sunt.
                    </p>
                </div>
            </div>
        </section>
        <section class="p-newProducts">
            <div class="p-newProducts__inner">
                <div class="l-block">
                    <% for(let i = 0; i < 4; i++){ %>
                        <%- include('inc/_p-card',{className:"l-blockItem1to3"}); %>
                            <% }; %>
                </div>
            </div>
        </section>
        <section class="p-newsevents">
            <div class="p-newsevents__inner">
                <div class="l-block">
                    <% for(let i = 0; i < 4; i++){ %>
                        <%- include('inc/_p-card',{className:"l-blockItem1to4"}); %>
                            <% }; %>
                </div>
            </div>
        </section>
        <div class="l-grid">
            <div class="l-grid__item "></div>
            <div class="l-grid__item "></div>
            <div class="l-grid__item "></div>
            <div class="l-grid__item "></div>
            <div class="l-grid__item "></div>
            <div class="l-grid__item "></div>
            <div class="l-grid__item "></div>
            <div class="l-grid__item "></div>
            <div class="l-grid__item "></div>
            <div class="l-grid__item "></div>
            <div class="l-grid__item "></div>
            <div class="l-grid__item "></div>
        </div>

        <!-- <i class="material-icons md-48">face</i> -->
    </main>
    <footer class="l-footer p-footer"></footer>
    </div>
    </body>

    </html>