<div class="l-grid">
    <div class="l-grid__item "></div>
    <div class="l-grid__item "></div>
    <div class="l-grid__item "></div>
    <div class="l-grid__item "></div>
    <div class="l-grid__item "></div>
    <div class="l-grid__item "></div>
    <div class="l-grid__item "></div>
    <div class="l-grid__item "></div>
    <div class="l-grid__item "></div>
    <div class="l-grid__item "></div>
    <div class="l-grid__item "></div>
    <div class="l-grid__item "></div>
</div>