.c-button {
    display: inline-table;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    line-height: 1.2;
    border-radius: 999px;
    background-color: white;
    border: 1px solid red;
    color: red;
    transition: 0.25s;
    &:focus,
    &:hover {
        background-color: red;
        color: white;
    }
    &__text {
        overflow-wrap: break-word;
        // word-break: break-all;
        vertical-align: middle;
        text-align: center;
        display: table-cell;
        max-width: 100%;
    }
    &__text2 {
        overflow-wrap: break-word;
        // word-break: break-all;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%, -50%);
        display: table-cell;
        max-width: 100%;
    }
}