.p-button {
    flex-grow: 1;
    padding: 5px 35px;
    font-size: 14px;
    background-color: red;
    color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
    margin: 0 5px 5px 0;
    &:focus,
    &:hover {
        background-color: #fff;
        color: red;
    }
    &__wrap {
        display: flex;
        flex-wrap: wrap;
    }
    &__icon {
        flex-grow: 1;
        padding: 5px 1em;
        font-size: 14px;
        background-color: red;
        color: #fff;
        box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
        margin: 0 5px 5px 0;
        >i {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 1em;
        }
    }
}

// .btn {
//     width: 300px;
//     padding: 20px 10px;
//     background-color: #e25c00;
//     border: 2px solid transparent;
// }