.p-card {
    &__link {
        display: block;
        color: currentColor;
        text-decoration: none;
        transition: .25s;
        box-shadow: 3px 3px 3px rgba($color: #000000, $alpha: .2);
        margin-bottom: 20px;
    }
    &__imgWrap {
        margin: 0;
        padding: 0;
        position: relative;
        padding-top: 56.25%;
        overflow: hidden;
    }
    &__img {
        position: absolute;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);
    }
    &__body {
        padding: 15px;
    }
    &__body>*:last-child {
        margin-bottom: 0;
    }
    &__title {
        margin: 0;
        padding: 0;
        margin-bottom: 5px;
        font-size: 1.125rem;
        font-weight: bold;
    }
    &__text {
        margin: 0;
        padding: 0;
        color: #777;
    }
}