.p-spacingImage {
    &__wrap {
        display: block;
        flex-wrap: awrap;
        // background-color: orange;
        background-color: pink;
    }
    &__imageRight {
        width: 100%;
        margin-left: 2px;
        margin-right: 2000px;
        @include minScreen($breakpoint_mobile) {
            margin-left: 15px;
            margin-right: 15px;
            width: calcGrid(4);
            // width: calc(((100% - 30px * 12) / 12) * 7 + 30px * 6);
        }
    }
    &__contentsLeft {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        @include minScreen($breakpoint_mobile) {
            margin-left: 15px;
            margin-right: 15px;
            width: calcGrid(8);
        }
    }
}