.p-table {
    &__wrap {
        width: 750px;
        max-width: 100%;
        margin: 0 auto;
        @include minScreen($breakpoint_mobile) {}
    }
    &__header {
        width: 33%;
    }
    &__text {}
}