@charset "UTF-8";
/* Document
 * ========================================================================== */
/**
 * Add border box sizing in all browsers (opinionated).
 */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
 * 1. Add text decoration inheritance in all browsers (opinionated).
 * 2. Add vertical alignment inheritance in all browsers (opinionated).
 */
::before,
::after {
  text-decoration: inherit;
  /* 1 */
  vertical-align: inherit;
  /* 2 */
}

/**
 * 1. Use the default cursor in all browsers (opinionated).
 * 2. Change the line height in all browsers (opinionated).
 * 3. Use a 4-space tab width in all browsers (opinionated).
 * 4. Remove the grey highlight on links in iOS (opinionated).
 * 5. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 * 6. Breaks words to prevent overflow in all browsers (opinionated).
 */
html {
  cursor: default;
  /* 1 */
  line-height: 1.5;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%;
  /* 5 */
  -webkit-text-size-adjust: 100%;
  /* 5 */
  word-break: break-word;
  /* 6 */
}

/* Sections
 * ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Edge, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
 * ========================================================================== */
/**
 * Remove the margin on nested lists in Chrome, Edge, IE, and Safari.
 */
dl dl,
dl ol,
dl ul,
ol dl,
ul dl {
  margin: 0;
}

/**
 * Remove the margin on nested lists in Edge 18- and IE.
 */
ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0;
}

/**
 * 1. Add the correct sizing in Firefox.
 * 2. Show the overflow in Edge 18- and IE.
 */
hr {
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * Add the correct display in IE.
 */
main {
  display: block;
}

/**
 * Remove the list style on navigation lists in all browsers (opinionated).
 */
nav ol,
nav ul {
  list-style: none;
  padding: 0;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
 * ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Add the correct text decoration in Edge 18-, IE, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/* Embedded content
 * ========================================================================== */
/*
 * Change the alignment on media elements in all browsers (opinionated).
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on iframes in all browsers (opinionated).
 */
iframe {
  border-style: none;
}

/**
 * Remove the border on images within links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Change the fill color to match the text color in all browsers (opinionated).
 */
svg:not([fill]) {
  fill: currentColor;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Tabular data
 * ========================================================================== */
/**
 * Collapse border spacing in all browsers (opinionated).
 */
table {
  border-collapse: collapse;
}

/* Forms
 * ========================================================================== */
/**
 * Remove the margin on controls in Safari.
 */
button,
input,
select {
  margin: 0;
}

/**
 * 1. Show the overflow in IE.
 * 2. Remove the inheritance of text transform in Edge 18-, Firefox, and IE.
 */
button {
  overflow: visible;
  /* 1 */
  text-transform: none;
  /* 2 */
}

/**
 * Correct the inability to style buttons in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * 1. Change the inconsistent appearance in all browsers (opinionated).
 * 2. Correct the padding in Firefox.
 */
fieldset {
  border: 1px solid #a0a0a0;
  /* 1 */
  padding: 0.35em 0.75em 0.625em;
  /* 2 */
}

/**
 * Show the overflow in Edge 18- and IE.
 */
input {
  overflow: visible;
}

/**
 * 1. Correct the text wrapping in Edge 18- and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in Edge 18- and IE.
 * 2. Add the correct vertical alignment in Chrome, Edge, and Firefox.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the inheritance of text transform in Firefox.
 */
select {
  text-transform: none;
}

/**
 * 1. Remove the margin in Firefox and Safari.
 * 2. Remove the default vertical scrollbar in IE.
 * 3. Change the resize direction in all browsers (opinionated).
 */
textarea {
  margin: 0;
  /* 1 */
  overflow: auto;
  /* 2 */
  resize: vertical;
  /* 3 */
}

/**
 * Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  padding: 0;
}

/**
 * 1. Correct the odd appearance in Chrome, Edge, and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * Remove the inner padding in Chrome, Edge, and Safari on macOS.
 */
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style upload buttons in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Remove the inner border and padding of focus outlines in Firefox.
 */
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus outline styles unset by the previous rule in Firefox.
 */
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove the additional :invalid styles in Firefox.
 */
:-moz-ui-invalid {
  box-shadow: none;
}

/* Interactive
 * ========================================================================== */
/*
 * Add the correct display in Edge 18- and IE.
 */
details {
  display: block;
}

/*
 * Add the correct styles in Edge 18-, IE, and Safari.
 */
dialog {
  background-color: white;
  border: solid;
  color: black;
  display: block;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}

dialog:not([open]) {
  display: none;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
 * ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* User interaction
 * ========================================================================== */
/*
 * 1. Remove the tapping delay in IE 10.
 * 2. Remove the tapping delay on clickable elements
      in all browsers (opinionated).
 */
a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
  /* 1 */
  touch-action: manipulation;
  /* 2 */
}

/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

/* Accessibility
 * ========================================================================== */
/**
 * Change the cursor on busy elements in all browsers (opinionated).
 */
[aria-busy="true"] {
  cursor: progress;
}

/*
 * Change the cursor on control elements in all browsers (opinionated).
 */
[aria-controls] {
  cursor: pointer;
}

/*
 * Change the cursor on disabled, not-editable, or otherwise
 * inoperable elements in all browsers (opinionated).
 */
[aria-disabled="true"],
[disabled] {
  cursor: not-allowed;
}

/*
 * Change the display on visually hidden accessible elements
 * in all browsers (opinionated).
 */
[aria-hidden="false"][hidden] {
  display: initial;
}

[aria-hidden="false"][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

@media screen and (min-width: 750px), print {
  .test {
    font-size: 20px;
  }
}

@media screen and (min-width: 1200px), print {
  .test {
    font-size: 40px;
  }
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Noto Sans', 'Noto Sans JP';
}

body h1 {
  font-size: 26px;
  line-height: 1.5;
  color: #6e6e6e;
}

@media screen and (min-width: 750px), print {
  body h1 {
    font-size: 32px;
    width: calc-percent(650px);
  }
}

body h2 {
  font-size: 24px;
  line-height: 1.5;
  color: #6e6e6e;
}

@media screen and (min-width: 750px), print {
  body h2 {
    font-size: 32px;
  }
}

body p {
  font-size: 14px;
  line-height: 1.75;
  color: #6e6e6e;
}

body ul,
body ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

body button {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', 'Noto Sans JP';
}

/**
 * Swiper 3.4.2
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * 
 * http://www.idangero.us/swiper/
 * 
 * Copyright 2017, Vladimir Kharlampidi
 * The iDangero.us
 * http://www.idangero.us/
 * 
 * Licensed under MIT
 * 
 * Released on: March 10, 2017
 */
.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  /* Fix of Webkit flickering */
  z-index: 1;
}

.swiper-container-no-flexbox .swiper-slide {
  float: left;
}

.swiper-container-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  -o-transition-property: -o-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
  -ms-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
}

.swiper-container-multirow > .swiper-wrapper {
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.swiper-container-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto;
}

.swiper-slide {
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
}

/* Auto Height */
.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
  height: auto;
}

.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-transition-property: -webkit-transform, height;
  -o-transition-property: -o-transform;
  -webkit-transition-property: height, -webkit-transform;
  transition-property: height, -webkit-transform;
  -o-transition-property: transform, height;
  transition-property: transform, height;
  transition-property: transform, height, -webkit-transform;
}

/* a11y */
.swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000;
}

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}

.swiper-wp8-vertical {
  -ms-touch-action: pan-x;
  touch-action: pan-x;
}

/* Arrows */
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  width: 27px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  left: 10px;
  right: auto;
}

.swiper-button-prev.swiper-button-black,
.swiper-container-rtl .swiper-button-next.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-prev.swiper-button-white,
.swiper-container-rtl .swiper-button-next.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  right: 10px;
  left: auto;
}

.swiper-button-next.swiper-button-black,
.swiper-container-rtl .swiper-button-prev.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-next.swiper-button-white,
.swiper-container-rtl .swiper-button-prev.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}

/* Pagination Styles */
.swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10;
}

.swiper-pagination.swiper-pagination-hidden {
  opacity: 0;
}

/* Common Styles */
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 10px;
  left: 0;
  width: 100%;
}

/* Bullets */
.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: 0.2;
}

button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}

.swiper-pagination-white .swiper-pagination-bullet {
  background: #fff;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #007aff;
}

.swiper-pagination-white .swiper-pagination-bullet-active {
  background: #fff;
}

.swiper-pagination-black .swiper-pagination-bullet-active {
  background: #000;
}

.swiper-container-vertical > .swiper-pagination-bullets {
  right: 10px;
  top: 50%;
  -webkit-transform: translate3d(0px, -50%, 0);
  -ms-transform: translate3d(0px, -50%, 0);
  transform: translate3d(0px, -50%, 0);
}

.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 5px 0;
  display: block;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 5px;
}

/* Progress */
.swiper-pagination-progress {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
}

.swiper-pagination-progress .swiper-pagination-progressbar {
  background: #007aff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
}

.swiper-container-rtl .swiper-pagination-progress .swiper-pagination-progressbar {
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top;
}

.swiper-container-horizontal > .swiper-pagination-progress {
  width: 100%;
  height: 4px;
  left: 0;
  top: 0;
}

.swiper-container-vertical > .swiper-pagination-progress {
  width: 4px;
  height: 100%;
  left: 0;
  top: 0;
}

.swiper-pagination-progress.swiper-pagination-white {
  background: rgba(255, 255, 255, 0.5);
}

.swiper-pagination-progress.swiper-pagination-white .swiper-pagination-progressbar {
  background: #fff;
}

.swiper-pagination-progress.swiper-pagination-black .swiper-pagination-progressbar {
  background: #000;
}

/* 3D Container */
.swiper-container-3d {
  -webkit-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px;
}

.swiper-container-3d .swiper-wrapper,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-cube-shadow {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.swiper-container-3d .swiper-slide-shadow-left {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  /* Safari 4+, Chrome */
  background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Chrome 10+, Safari 5.1+, iOS 5+ */
  /* Firefox 3.6-15 */
  background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Opera 11.10-12.00 */
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Firefox 16+, IE10, Opera 12.50+ */
}

.swiper-container-3d .swiper-slide-shadow-right {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  /* Safari 4+, Chrome */
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Chrome 10+, Safari 5.1+, iOS 5+ */
  /* Firefox 3.6-15 */
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Opera 11.10-12.00 */
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Firefox 16+, IE10, Opera 12.50+ */
}

.swiper-container-3d .swiper-slide-shadow-top {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  /* Safari 4+, Chrome */
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Chrome 10+, Safari 5.1+, iOS 5+ */
  /* Firefox 3.6-15 */
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Opera 11.10-12.00 */
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Firefox 16+, IE10, Opera 12.50+ */
}

.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  /* Safari 4+, Chrome */
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Chrome 10+, Safari 5.1+, iOS 5+ */
  /* Firefox 3.6-15 */
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Opera 11.10-12.00 */
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Firefox 16+, IE10, Opera 12.50+ */
}

/* Coverflow */
.swiper-container-coverflow .swiper-wrapper,
.swiper-container-flip .swiper-wrapper {
  /* Windows 8 IE 10 fix */
  -ms-perspective: 1200px;
}

/* Cube + Flip */
.swiper-container-cube,
.swiper-container-flip {
  overflow: visible;
}

.swiper-container-cube .swiper-slide,
.swiper-container-flip .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
}

.swiper-container-cube .swiper-slide .swiper-slide,
.swiper-container-flip .swiper-slide .swiper-slide {
  pointer-events: none;
}

.swiper-container-cube .swiper-slide-active,
.swiper-container-flip .swiper-slide-active,
.swiper-container-cube .swiper-slide-active .swiper-slide-active,
.swiper-container-flip .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

.swiper-container-cube .swiper-slide-shadow-top,
.swiper-container-flip .swiper-slide-shadow-top,
.swiper-container-cube .swiper-slide-shadow-bottom,
.swiper-container-flip .swiper-slide-shadow-bottom,
.swiper-container-cube .swiper-slide-shadow-left,
.swiper-container-flip .swiper-slide-shadow-left,
.swiper-container-cube .swiper-slide-shadow-right,
.swiper-container-flip .swiper-slide-shadow-right {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* Cube */
.swiper-container-cube .swiper-slide {
  visibility: hidden;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  width: 100%;
  height: 100%;
}

.swiper-container-cube.swiper-container-rtl .swiper-slide {
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
}

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-next,
.swiper-container-cube .swiper-slide-prev,
.swiper-container-cube .swiper-slide-next + .swiper-slide {
  pointer-events: auto;
  visibility: visible;
}

.swiper-container-cube .swiper-cube-shadow {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  -webkit-filter: blur(50px);
  filter: blur(50px);
  z-index: 0;
}

/* Fade */
.swiper-container-fade.swiper-container-free-mode .swiper-slide {
  -webkit-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.swiper-container-fade .swiper-slide {
  pointer-events: none;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}

.swiper-container-fade .swiper-slide .swiper-slide {
  pointer-events: none;
}

.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

.swiper-zoom-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
}

.swiper-zoom-container > img,
.swiper-zoom-container > svg,
.swiper-zoom-container > canvas {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

/* Scrollbar */
.swiper-scrollbar {
  border-radius: 10px;
  position: relative;
  -ms-touch-action: none;
  background: rgba(0, 0, 0, 0.1);
}

.swiper-container-horizontal > .swiper-scrollbar {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 98%;
}

.swiper-container-vertical > .swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%;
}

.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  left: 0;
  top: 0;
}

.swiper-scrollbar-cursor-drag {
  cursor: move;
}

/* Preloader */
.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  -webkit-transform-origin: 50%;
  -ms-transform-origin: 50%;
      transform-origin: 50%;
  -webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite;
  animation: swiper-preloader-spin 1s steps(12, end) infinite;
}

.swiper-lazy-preloader:after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-position: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
}

.swiper-lazy-preloader-white:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

@-webkit-keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@font-face {
  font-family: "icons";
  src: url("./fonts/icons/icons.eot");
  src: url("./fonts/icons/icons.eot?#iefix") format("eot"), url("./fonts/icons/icons.woff2") format("woff2"), url("./fonts/icons/icons.woff") format("woff"), url("./fonts/icons/icons.ttf") format("truetype"), url("./fonts/icons/icons.svg#icons") format("svg");
}

[class*=" icon-"],
[class^=icon-] {
  font-family: "icons";
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right::before {
  content: "";
}

.icon-arrow-right1000::before {
  content: "";
}

.icon-arrow-right2000::before {
  content: "";
}

.icon-awes::before {
  content: "";
}

.icon-cat::before {
  content: "";
}

.icon-circle::before {
  content: "";
}

.icon-dog::before {
  content: "";
}

.icon-favorite-24px::before {
  content: "";
}

.icon-heart-solid::before {
  content: "";
}

.icon-mate::before {
  content: "";
}

.icon-rabbit::before {
  content: "";
}

.icon-rectangle::before {
  content: "";
}

.icon-rectangle1000::before {
  content: "";
}

.icon-rectangle10000::before {
  content: "";
}

.icon-rectangle15000::before {
  content: "";
}

.icon-rectangle2000::before {
  content: "";
}

.icon-rectangle3000::before {
  content: "";
}

.icon-rectangle4000::before {
  content: "";
}

.icon-rectangle4000b::before {
  content: "";
}

.icon-u0020-space::before {
  content: "";
}

.icon-uE001-github::before {
  content: "";
}

.icon-uE002-arrow-down::before {
  content: "";
}

.icon-uE003-arrow-left::before {
  content: "";
}

.icon-uE004-arrow-right::before {
  content: "";
}

.icon-uE005-arrow-up::before {
  content: "";
}

.icon-uE006-google::before {
  content: "";
}

.icon-uE007-remove::before {
  content: "";
}

.icon-uE008-twitter::before {
  content: "";
}

.l-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.l-block > .l-blockItem {
  margin-left: 15px;
  margin-right: 15px;
  width: 100%;
}

.l-block > .l-blockItem--noMargin {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

.l-block > .l-blockItem1to2 {
  margin-left: 15px;
  margin-right: 15px;
  width: 100%;
}

@media screen and (min-width: 750px), print {
  .l-block > .l-blockItem1to2 {
    width: calc(((100% - 30px * 12) / 12) * 6 + 30px * 5);
  }
}

.l-block > .l-blockItem1to2--noMargin {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

@media screen and (min-width: 750px), print {
  .l-block > .l-blockItem1to2--noMargin {
    width: calc((100% / 2) - 15px);
    margin-right: 30px;
  }
  .l-block > .l-blockItem1to2--noMargin:nth-child(2n) {
    margin-right: 0;
  }
}

.l-block > .l-blockItem1to3 {
  margin-left: 15px;
  margin-right: 15px;
  width: 100%;
}

@media screen and (min-width: 750px), print {
  .l-block > .l-blockItem1to3 {
    width: calc(((100% - 30px * 12) / 12) * 4 + 30px * 3);
  }
}

.l-block > .l-blockItem1to3--noMargin {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

@media screen and (min-width: 750px), print {
  .l-block > .l-blockItem1to3--noMargin {
    width: calc((100% / 3) - 20px);
    margin-right: 30px;
  }
  .l-block > .l-blockItem1to3--noMargin:nth-child(3n) {
    margin-right: 0;
  }
}

.l-block > .l-blockItem1to4 {
  margin-left: 15px;
  margin-right: 15px;
  width: 100%;
}

@media screen and (min-width: 750px), print {
  .l-block > .l-blockItem1to4 {
    width: calc(((100% - 30px * 12) / 12) * 3 + 30px * 2);
  }
}

.l-block > .l-blockItem1to4--noMargin {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

@media screen and (min-width: 750px), print {
  .l-block > .l-blockItem1to4--noMargin {
    width: calc((100% / 4) - (90px / 4));
    margin-right: 30px;
  }
  .l-block > .l-blockItem1to4--noMargin:nth-child(4n) {
    margin-right: 0;
  }
}

.l-build {
  background-color: rgba(0, 255, 0, 0.1);
  padding: 0 12px;
  max-width: 1280px;
  margin: 0 auto;
  background-color: rgba(0, 255, 0, 0.1);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

@media screen and (min-width: 750px), print {
  .l-build {
    padding: 0 10px;
  }
}

.l-build__sideBar {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  background-color: rgba(255, 0, 0, 0.1);
}

@media screen and (min-width: 750px), print {
  .l-build__sideBar {
    margin-left: 15px;
    margin-right: 35px;
    width: calc(((100% - 30px * 12) / 12) * 4 + 30px * 3 - 20px);
  }
}

.l-build__contents {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  background-color: rgba(255, 255, 0, 0.1);
}

@media screen and (min-width: 750px), print {
  .l-build__contents {
    margin-left: 15px;
    margin-right: 15px;
    width: calc(((100% - 30px * 12) / 12) * 8 + 30px * 7);
  }
}

.l-grid {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(255, 0, 0, 0.25);
}

.l-grid__item {
  width: calc((100% - 20px * 12) / 12);
  height: 80px;
  margin-right: 15px;
  margin-left: 15px;
  background: rgba(0, 0, 255, 0.25);
}

.l-guest {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(255, 255, 0, 0.2);
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.l-guest__profile {
  height: 200px;
  margin-left: 15px;
  margin-right: 15px;
  background-color: rgba(255, 0, 0, 0.2);
  width: 100%;
}

@media screen and (min-width: 750px), print {
  .l-guest__profile {
    width: calc(((100% - 30px * 12) / 12) * 2 + 30px * (2 - 1));
  }
}

.l-guest__main {
  height: 200px;
  width: 100%;
  margin-left: 15px;
  margin-right: 15px;
  background-color: rgba(0, 255, 0, 0.2);
}

@media screen and (min-width: 750px), print {
  .l-guest__main {
    width: calc(((100% - 30px * 12) / 12) * 7 + 30px * (7 - 1));
  }
}

.l-guest__sideBar {
  height: 200px;
  margin-left: 15px;
  margin-right: 15px;
  background-color: rgba(0, 0, 255, 0.2);
  width: 100%;
}

@media screen and (min-width: 750px), print {
  .l-guest__sideBar {
    width: calc(((100% - 30px * 12) / 12) * 3 + 30px * (3 - 1));
  }
}

.l-header {
  background-color: rgba(0, 0, 255, 0.1);
}

.l-header__inner {
  max-width: 1280px;
  margin: 0 auto;
  background-color: rgba(0, 0, 255, 0.1);
}

.c-button {
  display: inline-table;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  line-height: 1.2;
  border-radius: 999px;
  background-color: white;
  border: 1px solid red;
  color: red;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}

.c-button:focus, .c-button:hover {
  background-color: red;
  color: white;
}

.c-button__text {
  overflow-wrap: break-word;
  vertical-align: middle;
  text-align: center;
  display: table-cell;
  max-width: 100%;
}

.c-button__text2 {
  overflow-wrap: break-word;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%, -50%);
      -ms-transform: translateY(-50%, -50%);
          transform: translateY(-50%, -50%);
  display: table-cell;
  max-width: 100%;
}

.c-paging {
  display: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 750px), print {
  .c-paging {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

.c-paging > li {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-right: 10px;
}

.c-paging > li:last-child {
  margin-right: 0;
}

.c-paging > li a {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35px;
  height: 35px;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.c-paging__number {
  font-weight: bold;
}

.c-paging__start.is_disabled, .c-paging__prev.is_disabled, .c-paging__next.is_disabled, .c-paging__end.is_disabled {
  visibility: hidden;
}

.c-paging--sp {
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 480px;
}

@media screen and (min-width: 750px), print {
  .c-paging--sp {
    display: none;
  }
}

.c-paging--sp > li {
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.c-paging__start--sp, .c-paging__prev--sp, .c-paging__next--sp, .c-paging__end--sp {
  margin: 0;
  width: 35px;
  height: 35px;
}

.c-paging__start--sp:last-child, .c-paging__prev--sp:last-child, .c-paging__next--sp:last-child, .c-paging__end--sp:last-child {
  margin-right: 0;
}

.c-paging__start--sp a, .c-paging__prev--sp a, .c-paging__next--sp a, .c-paging__end--sp a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.c-paging__start--sp {
  margin-right: 10px;
}

.c-paging__end--sp {
  margin-left: 10px;
}

.c-paging__number--sp {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.c-table {
  font-size: 1.4rem;
  width: 100%;
  table-layout: fixed;
}

.c-table__header {
  padding: 20px;
  color: #333;
  background-color: #f5f5f5;
  border: 1px solid #e6e6e6;
  font-weight: bold;
  vertical-align: middle;
  text-align: left;
  line-height: 1.2;
}

.c-table__header--textNormal {
  padding: 20px;
  color: #333;
  background-color: #f5f5f5;
  border: 1px solid #e6e6e6;
  vertical-align: middle;
  text-align: left;
  line-height: 1.2;
}

.c-table__text {
  padding: 20px;
  line-height: 1.75;
  border: 1px solid #e6e6e6;
  color: #6e6e6e;
}

.c-table__image {
  padding: 10px;
  overflow: hidden;
  border: 1px solid #e6e6e6;
}

.c-table__image img {
  width: 100%;
  height: auto;
}

.c-table__image--noBorder {
  padding: 10px;
  overflow: hidden;
}

.c-table__image--noBorder img {
  width: 100%;
  height: auto;
}

.p-bgWhite__inner {
  padding: 0 12px;
  max-width: 1280px;
  margin: 0 auto;
}

@media screen and (min-width: 750px), print {
  .p-bgWhite__inner {
    padding: 0 10px;
  }
}

.p-bgWhite__inner--noPadding {
  padding: 0;
  max-width: 1280px;
  margin: 0 auto;
}

.p-button {
  min-height: 50px;
}

.p-button--xs {
  min-height: 35px;
}

.p-button--xxs {
  min-height: 22px;
}

.p-button__text {
  min-width: 295px;
  min-height: 50px;
  padding: 5px 20px;
  font-size: 1.4rem;
}

@media screen and (min-width: 750px), print {
  .p-button__text {
    min-width: 230px;
    padding: 5px 35px;
  }
}

.p-button__text--xs {
  min-width: 140px;
  min-height: 35px;
  padding: 3px 15px;
  font-size: 1.4rem;
}

@media screen and (min-width: 750px), print {
  .p-button__text--xs {
    padding: 3px 25px;
  }
}

.p-button__text--xxs {
  min-width: 120px;
  min-height: 22px;
  padding: 3px 15px;
  font-size: 1.0rem;
}

.p-button__textIconRight {
  min-width: 295px;
  min-height: 50px;
  padding: 5px 30px 5px 20px;
  font-size: 1.4rem;
}

@media screen and (min-width: 750px), print {
  .p-button__textIconRight {
    min-width: 230px;
    padding: 5px 40px 5px 35px;
  }
}

.p-button__textIconRight--xs {
  min-width: 140px;
  min-height: 35px;
  padding: 3px 25px 3px 15px;
  font-size: 1.4rem;
}

@media screen and (min-width: 750px), print {
  .p-button__textIconRight--xs {
    padding: 3px 35px 3px 25px;
  }
}

.p-button__textIconRight--xxs {
  min-width: 120px;
  min-height: 22px;
  padding: 3px 25px 3px 15px;
  font-size: 1.0rem;
}

.p-button__textSearch {
  min-width: 140px;
  min-height: 35px;
  padding: 3px 15px 3px 45px;
  font-size: 1.4rem;
}

@media screen and (min-width: 750px), print {
  .p-button__textSearch {
    padding: 3px 25px 3px 50px;
  }
}

.p-button__searchIcon {
  position: absolute;
  top: 50%;
  left: 30px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  vertical-align: middle;
  display: table-cell;
  color: currentColor;
}

.p-button__externalIcon {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  vertical-align: middle;
  display: table-cell;
  color: currentColor;
}

.p-card__link {
  display: block;
  color: currentColor;
  text-decoration: none;
  -webkit-transition: .25s;
  -o-transition: .25s;
  transition: .25s;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.p-card__imgWrap {
  margin: 0;
  padding: 0;
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
}

.p-card__img {
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.p-card__body {
  padding: 15px;
}

.p-card__body > *:last-child {
  margin-bottom: 0;
}

.p-card__title {
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
  font-size: 1.125rem;
  font-weight: bold;
}

.p-card__text {
  margin: 0;
  padding: 0;
  color: #777;
}

.p-center__inner {
  position: relative;
  margin: 0 auto;
  min-width: 900px;
  width: 100%;
  overflow: hidden;
  padding-top: 390px;
}

.p-center img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.p-heading__inner {
  padding: 0 12px;
  max-width: 1280px;
  margin: 0 auto;
}

@media screen and (min-width: 750px), print {
  .p-heading__inner {
    padding: 0 10px;
  }
}

.p-heading__inner--noPadding {
  padding: 0;
  max-width: 1280px;
  margin: 0 auto;
}

.p-horizontalTabale {
  border: 1px solid #e6e6e6;
  font-size: 1.4rem;
  line-height: 1.75;
  margin: 0 auto;
  overflow-x: auto;
}

.p-horizontalTabale__inner {
  width: 950px;
  max-width: 950px;
}

.p-horizontalTabale__header {
  width: 20%;
  padding: 20px;
  background-color: #f5f5f5;
  border-right: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  font-weight: bold;
  vertical-align: middle;
  text-align: left;
  line-height: 1.2;
}

.p-horizontalTabale__text {
  padding: 20px;
  border-bottom: 1px solid #e6e6e6;
}

.p-horizontalTabale__row:last-child .p-horizontalTabale__header,
.p-horizontalTabale__row:last-child .p-horizontalTabale__text {
  border-bottom-width: 0;
}

.p-iconButon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
  border-radius: 50%;
}

.p-iconButon:hover {
  background-color: gray;
}

@media screen and (min-width: 750px), print {
  .p-iconButon:hover::after {
    content: attr(data-icon);
    position: absolute;
    top: -30px;
    padding: 5px;
    text-align: center;
    white-space: nowrap;
    background-color: black;
    color: white;
  }
}

.p-link {
  font-size: 1.4rem;
  text-decoration: none;
  display: inline-block;
  padding-left: 1em;
  text-indent: -0.6em;
}

.p-link::before {
  vertical-align: middle;
  display: inline-block;
  margin-left: 0.2em;
  margin-right: 0.4em;
}

.p-link:hover, .p-link:focus {
  text-decoration: underline;
}

.p-link--secondary {
  font-size: 1.4rem;
  text-decoration: none;
}

.p-link--secondary::before {
  content: "";
  width: .3em;
  height: .3em;
  border-radius: 50%;
  display: inline-block;
  background-color: black;
  margin-right: 0.3em;
  margin-left: 0.3em;
  vertical-align: middle;
}

.p-link--secondary:hover, .p-link--secondary:focus {
  color: red;
  text-decoration: underline;
}

.p-link--external::before {
  display: inline-block;
  margin-right: 0.3em;
  margin-left: 0.3em;
  vertical-align: middle;
}

.p-mobile-scroll__wrap {
  margin: 0 auto;
  width: 500px;
}

@media only screen and (max-width: 500px) {
  .p-mobile-scroll__wrap {
    width: 100%;
  }
}

.p-mobile-scroll table {
  border-collapse: collapse;
  width: 100%;
}

.p-mobile-scroll th,
.p-mobile-scroll td {
  padding: 5px;
  border: solid 1px #333;
}

@media only screen and (max-width: 500px) {
  .p-mobile-scroll .mobile-scroll {
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}

.p-newProducts {
  background-color: rgba(255, 0, 0, 0.1);
}

.p-newProducts__inner {
  padding: 0 12px;
  max-width: 1280px;
  margin: 0 auto;
  background-color: rgba(255, 0, 0, 0.1);
}

@media screen and (min-width: 750px), print {
  .p-newProducts__inner {
    padding: 0 10px;
  }
}

.p-newProducts__inner--noPadding {
  padding: 0;
  max-width: 1280px;
  margin: 0 auto;
  background-color: rgba(255, 0, 0, 0.1);
}

.p-newsevents {
  background-color: rgba(0, 255, 0, 0.1);
}

.p-newsevents__inner {
  padding: 0 12px;
  max-width: 1280px;
  margin: 0 auto;
  background-color: rgba(0, 255, 0, 0.1);
}

@media screen and (min-width: 750px), print {
  .p-newsevents__inner {
    padding: 0 10px;
  }
}

.p-newsevents__inner--noPadding {
  padding: 0;
  max-width: 1280px;
  margin: 0 auto;
  background-color: rgba(0, 255, 0, 0.1);
}

.p-pagenation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.p-pagenation__prev, .p-pagenation__next {
  min-height: 35px;
  background-color: white;
  border: 1px solid #999;
  color: #333;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}

.p-pagenation__prev:focus, .p-pagenation__prev:hover, .p-pagenation__next:focus, .p-pagenation__next:hover {
  background-color: #999;
  color: white;
}

.p-pagenation__text {
  min-height: 50px;
  padding: 5px 20px;
  font-size: 1.4rem;
}

@media screen and (min-width: 750px), print {
  .p-pagenation__text {
    padding: 5px 35px;
  }
}

.p-pagenation__numberWrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.p-pagenation__numberItem {
  font-size: 1.6rem;
  color: #6e6e6e;
}

.p-pagenation__numberItem + .p-pagenation__numberItem {
  margin-left: 20px;
}

.p-pagenation__numberItem:focus, .p-pagenation__numberItem:hover, .p-pagenation__numberItem.is_current {
  color: #333;
  font-weight: bold;
}

.p-pagenation__numberItem > a {
  display: inline-block;
  padding: 5px;
  text-decoration: none;
  color: currentColor;
}

.p-pagenation__numberItem.is_current > a {
  cursor: default;
}

.p-paging--today > li a {
  background-color: white;
  color: black;
  border: #014254 solid 1px;
}

.p-paging--today > li a:hover {
  text-decoration: none;
  background-color: #FEC330;
  color: white;
  border-color: #FEC330;
}

.p-paging--today > li.is_current a {
  background-color: #FEC330;
  color: white;
  border-color: #FEC330;
}

.p-paging--brand > li a {
  background-color: white;
  color: black;
}

.p-paging--brand > li a:hover {
  text-decoration: none;
  background-color: black;
  color: white;
}

.p-paging--brand > li.is_current a {
  background-color: black;
  color: white;
}

.p-recomended {
  background-color: rgba(255, 0, 255, 0.1);
}

.p-recomended__inner {
  padding: 0 12px;
  max-width: 1280px;
  margin: 0 auto;
  background-color: rgba(255, 0, 255, 0.1);
}

@media screen and (min-width: 750px), print {
  .p-recomended__inner {
    padding: 0 10px;
  }
}

.p-recomended__inner--noPadding {
  padding: 0;
  max-width: 1280px;
  margin: 0 auto;
  background-color: rgba(255, 0, 255, 0.1);
}

.p-spacingImage__wrap {
  display: block;
  -webkit-flex-wrap: awrap;
      -ms-flex-wrap: awrap;
          flex-wrap: awrap;
  background-color: pink;
}

.p-spacingImage__imageRight {
  width: 100%;
  margin-left: 2px;
  margin-right: 2000px;
}

@media screen and (min-width: 750px), print {
  .p-spacingImage__imageRight {
    margin-left: 15px;
    margin-right: 15px;
    width: calc(((100% - 30px * 12) / 12) * 4 + 30px * (4 - 1));
  }
}

.p-spacingImage__contentsLeft {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

@media screen and (min-width: 750px), print {
  .p-spacingImage__contentsLeft {
    margin-left: 15px;
    margin-right: 15px;
    width: calc(((100% - 30px * 12) / 12) * 8 + 30px * (8 - 1));
  }
}

.p-swiper {
  position: relative;
  margin: 0 auto;
  min-width: 1000px;
  width: 100%;
  padding-top: 390px;
  overflow: hidden;
}

.p-swiper__inner {
  width: 1390px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#swiper01 {
  /* Pagination Styles */
  /* Bullets */
}

#swiper01 .swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

#swiper01.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 60px;
  left: 0;
  width: 100%;
}

#swiper01 .swiper-pagination-bullet {
  max-width: 200px;
  width: 100%;
  height: 50px;
  display: inline-block;
  border-radius: 0;
  background: none;
  opacity: 0.5;
  color: white;
  border-top: 1px solid white;
  padding-top: 30px;
}

#swiper01 button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

#swiper01 .swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}

#swiper01 .swiper-pagination-bullet-active {
  opacity: 1;
}

#swiper01 .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 5px;
}

.p-table__wrap {
  width: 750px;
  max-width: 100%;
  margin: 0 auto;
}

.p-table__header {
  width: 33%;
}

.p-tableApplications__wrap {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 750px), print {
  .p-tableApplications__wrap {
    padding: 0 15px;
  }
}

.p-tableApplications__applicationsWidth {
  width: 55%;
}

@media screen and (min-width: 750px), print {
  .p-tableApplications__applicationsWidth {
    width: 70%;
  }
}

.p-tableCompare {
  padding: 0 0 0 12px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
}

@media screen and (min-width: 750px), print {
  .p-tableCompare {
    padding: 0 25px;
  }
}

.p-tableCompare__inner {
  margin: 0 auto;
  width: 1230px;
  max-width: none;
}

@media screen and (min-width: 750px), print {
  .p-tableCompare__inner {
    max-width: 100%;
  }
}

.p-tableCompare__partWidth {
  width: 20%;
}

.p-tableCompare__applicationsWidth {
  width: 15%;
}

.p-tableCompare__appearanceWidth {
  width: 15%;
}

.p-tableCompare__qtyWidth {
  width: 10%;
}

.p-tableCompare__remarksWidth {
  width: 40%;
}

.p-tableProduct {
  padding: 0 0 0 12px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
}

@media screen and (min-width: 750px), print {
  .p-tableProduct {
    padding: 0 25px;
  }
}

.p-tableProduct__inner {
  margin: 0 auto;
  width: 1230px;
  max-width: none;
}

@media screen and (min-width: 750px), print {
  .p-tableProduct__inner {
    max-width: 100%;
  }
}

.p-tableProduct__partWidth {
  width: 20%;
}

.p-tableProduct__applicationsWidth {
  width: 15%;
}

.p-tableProduct__appearanceWidth {
  width: 15%;
}

.p-tableProduct__qtyWidth {
  width: 10%;
}

.p-tableProduct__remarksWidth {
  width: 40%;
}
