  @font-face {
      font-family: "icons";
      src: url('./fonts/icons/icons.eot');
      src: url('./fonts/icons/icons.eot?#iefix') format('eot'), url('./fonts/icons/icons.woff2') format('woff2'), url('./fonts/icons/icons.woff') format('woff'), url('./fonts/icons/icons.ttf') format('truetype'), url('./fonts/icons/icons.svg#icons') format('svg');
  }
  
  [class*=" icon-"],
  [class^=icon-] {
      font-family: "icons";
      speak: none;
      font-style: normal;
      font-weight: 400;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      // font-size: 1.2rem;
  }
  
  @mixin icon-styles {
      font-family: "icons";
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-style: normal;
      font-variant: normal;
      font-weight: normal;
      // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
      text-decoration: none;
      text-transform: none;
  }
  
  %icon {
      @include icon-styles;
  }
  
  @function icon-char($filename) {
      $char: "";
      @if $filename==arrow-right {
              $char: "\E001";
          }
          @if $filename==arrow-right1000 {
              $char: "\E002";
          }
          @if $filename==arrow-right2000 {
              $char: "\E003";
          }
          @if $filename==awes {
              $char: "\E004";
          }
          @if $filename==cat {
              $char: "\E005";
          }
          @if $filename==circle {
              $char: "\E006";
          }
          @if $filename==dog {
              $char: "\E007";
          }
          @if $filename==favorite-24px {
              $char: "\E008";
          }
          @if $filename==heart-solid {
              $char: "\E009";
          }
          @if $filename==mate {
              $char: "\E00A";
          }
          @if $filename==rabbit {
              $char: "\E00B";
          }
          @if $filename==rectangle {
              $char: "\E00C";
          }
          @if $filename==rectangle1000 {
              $char: "\E00D";
          }
          @if $filename==rectangle10000 {
              $char: "\E00E";
          }
          @if $filename==rectangle15000 {
              $char: "\E00F";
          }
          @if $filename==rectangle2000 {
              $char: "\E010";
          }
          @if $filename==rectangle3000 {
              $char: "\E011";
          }
          @if $filename==rectangle4000 {
              $char: "\E012";
          }
          @if $filename==rectangle4000b {
              $char: "\E013";
          }
          @if $filename==u0020-space {
              $char: "\E014";
          }
          @if $filename==uE001-github {
              $char: "\E015";
          }
          @if $filename==uE002-arrow-down {
              $char: "\E016";
          }
          @if $filename==uE003-arrow-left {
              $char: "\E017";
          }
          @if $filename==uE004-arrow-right {
              $char: "\E018";
          }
          @if $filename==uE005-arrow-up {
              $char: "\E019";
          }
          @if $filename==uE006-google {
              $char: "\E01A";
          }
          @if $filename==uE007-remove {
              $char: "\E01B";
          }
          @if $filename==uE008-twitter {
              $char: "\E01C";
          }
          @return $char;
  }
  
  @mixin icon($filename,
  $insert: before,
  $extend: true) {
      &::#{$insert} {
          // @if $extend {
          //     @extend %icon;
          // }
          // @else {
          //     @include icon-styles;
          // }
          content: icon-char($filename);
      }
  }
  
  .icon-arrow-right {
          @include icon(arrow-right);
      }
      .icon-arrow-right1000 {
          @include icon(arrow-right1000);
      }
      .icon-arrow-right2000 {
          @include icon(arrow-right2000);
      }
      .icon-awes {
          @include icon(awes);
      }
      .icon-cat {
          @include icon(cat);
      }
      .icon-circle {
          @include icon(circle);
      }
      .icon-dog {
          @include icon(dog);
      }
      .icon-favorite-24px {
          @include icon(favorite-24px);
      }
      .icon-heart-solid {
          @include icon(heart-solid);
      }
      .icon-mate {
          @include icon(mate);
      }
      .icon-rabbit {
          @include icon(rabbit);
      }
      .icon-rectangle {
          @include icon(rectangle);
      }
      .icon-rectangle1000 {
          @include icon(rectangle1000);
      }
      .icon-rectangle10000 {
          @include icon(rectangle10000);
      }
      .icon-rectangle15000 {
          @include icon(rectangle15000);
      }
      .icon-rectangle2000 {
          @include icon(rectangle2000);
      }
      .icon-rectangle3000 {
          @include icon(rectangle3000);
      }
      .icon-rectangle4000 {
          @include icon(rectangle4000);
      }
      .icon-rectangle4000b {
          @include icon(rectangle4000b);
      }
      .icon-u0020-space {
          @include icon(u0020-space);
      }
      .icon-uE001-github {
          @include icon(uE001-github);
      }
      .icon-uE002-arrow-down {
          @include icon(uE002-arrow-down);
      }
      .icon-uE003-arrow-left {
          @include icon(uE003-arrow-left);
      }
      .icon-uE004-arrow-right {
          @include icon(uE004-arrow-right);
      }
      .icon-uE005-arrow-up {
          @include icon(uE005-arrow-up);
      }
      .icon-uE006-google {
          @include icon(uE006-google);
      }
      .icon-uE007-remove {
          @include icon(uE007-remove);
      }
      .icon-uE008-twitter {
          @include icon(uE008-twitter);
      }
      