<%- include('inc/_header', ); %>
    <%- include('inc/_grid', ); %>

        <main class="l-main p-main">
            <div class="l-build">
                <div class="l-build__sideBar">
                    <div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat architecto soluta, nulla accusamus repudiandae eos porro eius exercitationem deleniti reprehenderit <span class="p-link--external icon-mate"></span></p>
                    </div>
                    <div>
                        <span class="p-link icon-mate">text</span>
                        <a href="" class="p-link icon-mate">text</a>
                        <span class="p-link icon-mate"><a href="">text</a></span>
                    </div>
                    <div>
                        <span class="p-link--secondary">text</span>
                        <a href="" class="p-link--secondary">text</a>
                        <span class="p-link--secondary"><a href="">text</a></span>
                    </div>
                    <div>
                        <span class="p-iconButon" data-icon="Add Bookmark">
									<i class="material-icons md-24">favorite_border</i>
								</span>
                    </div>
                    <div>
                        <a class="c-button p-button--xs" href="">
                            <span class="c-button__text p-button__textSearch" href="#">Search</span>
                            <i class="p-button__searchIcon material-icons md-24">search</i>
                        </a>
                    </div>
                    <div>
                        <a class="c-button p-button" href="">
                            <span class="c-button__text p-button__textIconRight" href="#">dolor sit amet consectetur adipisicing elit. Neque iureButton</span>
                            <i class="p-button__externalIcon material-icons md-48">face</i>
                        </a>
                        <a class="c-button p-button--xs" href="">
                            <span class="c-button__text p-button__textIconRight--xs" href="#">dolor sit amet consectetur adipisicing elit. Neque iureButton</span>
                            <i class="p-button__externalIcon material-icons md-48">face</i>
                        </a>
                        <a class="c-button p-button--xxs" href="">
                            <span class="c-button__text p-button__textIconRight--xxs" href="#">dolor sit amet consectetur adipisicing elit. Neque iureButton</span>
                            <i class="p-button__externalIcon material-icons md-48">face</i>
                        </a>
                    </div>
                    <div>
                        <a class="c-button p-button" href="">
                            <span class="c-button__text p-button__text" href="#">Button</span>
                        </a>
                        <a class="c-button p-button--xs" href="">
                            <span class="c-button__text p-button__text--xs" href="#">Button</span>
                        </a>
                        <a class="c-button p-button--xxs" href="">
                            <span class="c-button__text p-button__text--xxs" href="#">Button</span>
                        </a>
                    </div>
                    <div>
                        <a class="c-button p-button" href="">
                            <span class="c-button__text p-button__text" href="#">ButtonButtonButtonButtonButtonButton ButtonButtonButtonButton</span>
                        </a>
                        <a class="c-button p-button--xs" href="">
                            <span class="c-button__text p-button__text--xs" href="#">Button ButtonButtonButtonButtonButtonButtonButtonButtonButton</span>
                        </a>
                        <a class="c-button p-button--xxs" href="">
                            <span class="c-button__text p-button__text--xxs" href="#">ButtonButtonButtonButton ButtonButtonButtonButtonButtonButton</span>
                        </a>
                    </div>
                    <div>
                        <span class="c-button p-button" href="">
													<span class="c-button__text p-button__text" href="#">Button</span>
                        </span>
                        <span class="c-button p-button--xs" href="">
													<span class="c-button__text p-button__text--xs" href="#">Button</span>
                        </span>
                        <span class="c-button p-button--xxs" href="">
													<span class="c-button__text p-button__text--xxs" href="#">Button</span>
                        </span>
                    </div>
                </div>
                <div class="l-build__contents">
                    <section class="p-heading">
                        <div class="p-heading__inner--noPadding">
                            <div>
                                <a class="c-button p-button" href="">
                                    <span class="c-button__text p-button__textIconRight" href="#">Button</span>
                                    <i class="p-button__externalIcon material-icons md-48">face</i>
                                </a>
                                <a class="c-button p-button--xs" href="">
                                    <span class="c-button__text p-button__textIconRight--xs" href="#">Button</span>
                                    <i class="p-button__externalIcon material-icons md-48">face</i>
                                </a>
                                <a class="c-button p-button--xxs" href="">
                                    <span class="c-button__text p-button__textIconRight--xxs" href="#">Button</span>
                                    <i class="p-button__externalIcon material-icons md-48">face</i>
                                </a>
                            </div>
                            <div>
                                <a class="c-button p-button" href="">
                                    <span class="c-button__text p-button__text" href="#">Button</span>
                                </a>
                                <a class="c-button p-button--xs" href="">
                                    <span class="c-button__text p-button__text--xs" href="#">Button</span>
                                </a>
                                <a class="c-button p-button--xxs" href="">
                                    <span class="c-button__text p-button__text--xxs" href="#">Button</span>
                                </a>
                            </div>
                            <div>
                                <a class="c-button p-button" href="">
                                    <span class="c-button__text p-button__text" href="#">ButtonButtonButtonButtonButtonButton ButtonButtonButtonButton</span>
                                </a>
                                <a class="c-button p-button--xs" href="">
                                    <span class="c-button__text p-button__text--xs" href="#">Button ButtonButtonButtonButtonButtonButtonButtonButtonButton</span>
                                </a>
                                <a class="c-button p-button--xxs" href="">
                                    <span class="c-button__text p-button__text--xxs" href="#">ButtonButtonButtonButton ButtonButtonButtonButtonButtonButton</span>
                                </a>
                            </div>
                            <div>
                                <span class="c-button p-button" href="">
															<span class="c-button__text p-button__text" href="#">Button</span>
                                </span>
                                <span class="c-button p-button--xs" href="">
															<span class="c-button__text p-button__text--xs" href="#">Button</span>
                                </span>
                                <span class="c-button p-button--xxs" href="">
															<span class="c-button__text p-button__text--xxs" href="#">Button</span>
                                </span>
                            </div>
                        </div>

                    </section>
                    <%- include('inc/_grid', ); %>

                </div>
            </div>
        </main>
        <footer class="l-footer p-footer"></footer>
        </div>
        <script src="../js/main.js"></script>
        </body>

        </html>