<%- include('inc/_header', ); %>

    <main class="l-main p-main">

        <div class="p-loading">
            <div class="p-loading__item">
                <div class="p-loading__block"></div>
                <div class="p-loading__block"></div>
                <div class="p-loading__block"></div>
                <div class="p-loading__block"></div>
                <div class="p-loading__block"></div>
                <div class="p-loading__block"></div>
                <div class="p-loading__block"></div>
                <div class="p-loading__block"></div>
                <div class="p-loading__block"></div>
            </div>
        </div>

        <div class="gallery">
            <div class="item">
                <img src="https://images.unsplash.com/photo-1541781774459-bb2af2f05b55?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">
            </div>
            <div class="item">
                <img src="https://images.unsplash.com/photo-1495231916356-a86217efff12?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">
            </div>
            <div class="item">
                <img src="https://images.unsplash.com/photo-1514571948039-d3cb9e8f9750?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">
            </div>
            <div class="item">
                <img src="https://images.unsplash.com/photo-1497752531616-c3afd9760a11?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">
            </div>
            <div class="item">
                <img src="https://images.unsplash.com/photo-1525310072745-f49212b5ac6d?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">
            </div>
            <div class="item">
                <img src="https://images.unsplash.com/photo-1534278931827-8a259344abe7?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">
            </div>
            <div class="item">
                <img src="https://images.unsplash.com/photo-1425082661705-1834bfd09dca?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">
            </div>
            <div class="item">
                <img src="https://images.unsplash.com/photo-1575962003912-57a2874288c9?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">
            </div>
            <div class="item">
                <img src="https://images.unsplash.com/photo-1519052537078-e6302a4968d4?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">
            </div>
        </div>
    </main>
    <%- include('inc/_grid', ); %>
        <footer class="l-footer p-footer"></footer>
        <script src="../js/main.js"></script>
        <script>
            window.onload = function() {
                const spinner = document.querySelector('.p-loading');

                // Add .loaded to .loading
                spinner.classList.add('is-loaded');
            }
        </script>
        </body>

        </html>