<%- include('inc/_header', ); %>

    <main class="l-main p-main">
        <ul class="p-megaMenuMobile__cover01">
            <li data-address="cover02">PRODUCTS</li>
            <li>INDUSTRIES </li>
            <li>RESOURCES</li>
            <li>CASES</li>
            <li>NEWS / EVENTS</li>
            <li>SERVICE / SUPPORT</li>
        </ul>
        <ul class="p-megaMenuMobile__cover02">
            <li data-address="prev02">Main menu</li>
            <li>PRODUCTS</li>
            <li data-address="cover03">HPLC</li>
            <li>LC-MS</li>
            <li>GC</li>
            <li>GC-MS</li>
            <li>Columns , Reagents and Consumables</li>
            <li>Software & Informatics</li>
            <li>Molecular Spectroscopy</li>
            <li>Elemental Analysis</li>
            <li>Life Science Lab Instruments</li>
            <li>Material Testing and Non-Destructive Inspection System</li>
            <li>Continuous Monitoring Analysis</li>
            <li>Surface Analysis</li>
            <li>Thermal Analyzer , Powder and Particle Size Analyzer and Balances</li>
        </ul>
        <ul class="p-megaMenuMobile__cover03">
            <li data-address="prev03">PRODUCTS menu</li>
            <li>HPLC</li>
            <li><a href="#">HPLC/UHPLC</a></li>
            <li><a href="">SFC</a></li>
            <li><a href="">HPLC System</a></li>
            <li><a href="">HPLC Software</a></li>
            <li><a href="">HPLC Comsumables</a></li>
            <li><a href="">ALL HPLC</a></li>
            <li>HPLC Webinars</li>
            <li>HPLC Technical information</li>
        </ul>
        <ul>
        </ul>
        <div id="navi">

            <button class="openCloseButton">CLOSE</button>
            <button class="openButton01">ＢＵＴＴＯＮ０１</button>
            <button class="openButton02">ＢＵＴＴＯＮ０２</button>
            <button class="openButton03">ＢＵＴＴＯＮ０３</button>
            <button class="openButton04">ＢＵＴＴＯＮ０４</button> Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis iure commodi praesentium aspernatur? Sunt itaque porro, molestiae eos nemo labore dicta non, fugiat eaque nesciunt explicabo
            voluptatibus, earum aut unde! Lorem ipsum dolor sit amet consectetur adipisicing elit. Id veritatis commodi, itaque aperiam eius minima reprehenderit nesciunt explicabo! Saepe omnis est iusto dolor aliquam aperiam reiciendis necessitatibus
            impedit ratione at!
        </div>
    </main>
    <footer class="l-footer p-footer"></footer>
    </div>
    <script src="../js/main.js"></script>
    <script src="../js/addListener05061332.js"></script>
    <!-- <script src="../js/createMenuMobile.js"></script> -->
    <!-- <script src="../js/addListener05051845.js"></script> -->
    <script>
    </script>
    </body>

    </html>