<%- include('inc/_header', ); %>
    <%- include('inc/_grid', ); %>

        <main class="l-main p-main">
            <div class="p-center">
                <div class="p-center__inner">
                    <img src="../image/image04.jpg" alt="">

                </div>
            </div>
            <div class="p-swiper">
                <div class="p-swiper__inner">
                    <!-- <img src="../image/image01.jpg" alt=""> -->
                    <div class="swiper-container" id="swiper01">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="../image/image03.jpg" alt="">
                                <p>AGX-V series</p>
                            </div>
                            <div class="swiper-slide">
                                <img src="../image/image01.jpg" alt="">
                                <p>A Reliable Partner</p>
                            </div>
                            <div class="swiper-slide">
                                <img src="../image/image02.jpg" alt="">
                                <p>Lorem ipsum etctra</p>
                            </div>
                            <div class="swiper-slide">
                                <img src="../image/image03.jpg" alt="">
                                <p>AGX-V series</p>
                            </div>
                            <div class="swiper-slide">
                                <img src="../image/image03.jpg" alt="">
                                <p>AGX-V series</p>
                            </div>
                            <div class="swiper-slide">
                                <img src="../image/image03.jpg" alt="">
                                <p>AGX-V series</p>
                            </div>
                            <div class="swiper-slide">
                                <img src="../image/image03.jpg" alt="">
                                <p>AGX-V series</p>
                            </div>

                        </div>
                        <div class="swiper-pagination"></div>
                        <!-- <div class="swiper-button-prev swiper-button-white"></div>
									<div class="swiper-button-next swiper-button-white"></div>
									<div class="swiper-scrollbar"></div> -->
                    </div>

                </div>
            </div>
            <div class="l-build">
                <div class="p-swiper">
                    <div class="p-swiper__inner">
                        <div class="swiper-container" id="swiper01">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img src="../image/image03.jpg" alt="">
                                    <p>AGX-V series</p>
                                </div>
                                <div class="swiper-slide">
                                    <img src="../image/image01.jpg" alt="">
                                    <p>A Reliable Partner</p>
                                </div>
                                <div class="swiper-slide">
                                    <img src="../image/image02.jpg" alt="">
                                    <p>Lorem ipsum etctra</p>
                                </div>
                                <div class="swiper-slide">
                                    <img src="../image/image03.jpg" alt="">
                                    <p>AGX-V series</p>
                                </div>
                                <div class="swiper-slide">
                                    <img src="../image/image03.jpg" alt="">
                                    <p>AGX-V series</p>
                                </div>
                                <div class="swiper-slide">
                                    <img src="../image/image03.jpg" alt="">
                                    <p>AGX-V series</p>
                                </div>
                                <div class="swiper-slide">
                                    <img src="../image/image03.jpg" alt="">
                                    <p>AGX-V series</p>
                                </div>

                            </div>
                            <div class="swiper-pagination"></div>
                            <!-- <div class="swiper-button-prev swiper-button-white"></div>
                        <div class="swiper-button-next swiper-button-white"></div>
                        <div class="swiper-scrollbar"></div> -->
                        </div>
                    </div>
                </div>
                <div class="test" data-hash="3">いろはにほへと</div>
            </div>
        </main>
        <footer class="l-footer p-footer"></footer>
        </div>
        <script src="../js/main.js"></script>
        <script src="../js/swiper.js"></script>
        <script>
            var mySwiper = new Swiper('.swiper-container', {
                // effect: "flip",
                loop: true,
                // nextButton: '.swiper-button-next',
                // prevButton: '.swiper-button-prev',

                pagination: '.swiper-pagination',
                paginationClickable: true,
                paginationBulletRender: function(swiper, index, className) {
                    var SLIDE = document.querySelectorAll("#swiper01 .swiper-slide p");
                    var SLIDEVALUE = SLIDE[index + 1].innerHTML;
                    console.log(SLIDEVALUE);
                    // return '<span class="' + className + '">' + (index + 1) + '</span>';
                    // return SLIDEVALUE;
                    return '<span class="' + className + '">' + SLIDEVALUE + '</span>';
                },
                // onTransitionEnd: function() {
                //     swipe_action();
                // }


                // pagination: {
                //     el: '.swiper-pagination', //ページネーションの要素
                //     type: 'bullets', //ページネーションの種類
                //     clickable: true, //クリックに反応させる
                // renderBullet: function(index, className) {
                //     return '<span class="' + className + '">' + (index + 1) + '</span>';
                // }
                // }


            });

            function swipe_action() {
                // if (mySwiper.activeIndex == 1) {
                console.log("この中に１番目のスライドの処理");
                // }
                console.log("今は" + mySwiper.activeIndex + "番目のスライドです。")
            };



            // var CLICK = document.querySelector(".test[data-hash]");
            // console.log(CLICK);
            // CLICK.addEventListener("click", function() {
            //     console.log("test");
            //     mySwiper.slideTo(CLICK.dataset.hash);
            // });
            // 						var swiper;
            // $(window).load(function() {
            //   swiper = new Swiper('.swiper-container', {
            //     direction: 'vertical',
            //   });
            //   $('.test[data-hash]').on('click', function () {
            //     swiper.slideTo($(this).data('hash'));
            //   });
            // });


            //  var mySwiper = new Swiper('.swiper-container', {
            //       navigation: { //ナビゲーションのオプション（矢印ボタンの要素を指定）
            //           nextEl: '.swiper-button-next',
            //           prevEl: '.swiper-button-prev',
            //       },
            //       pagination: {
            //           el: '.swiper-pagination', //ページネーションの要素
            //           type: 'bullets', //ページネーションの種類
            //           clickable: true, //クリックに反応させる
            //           // renderBullet: function(index, className) {
            //           //     return '<span class="' + className + '">' + (index + 1) + '</span>';
            //           // }
            //       },

            //   });

            // var mySwiper = new Swiper('.swiper-container', {
            //     on: {
            //         slideChange: function() {
            //             // console.log(this.width);
            //         },
            //     },
            //     // 以下にオプションを設定
            //     loop: true, //最後に達したら先頭に戻る
            //     slidesPerView: 1,
            //     spaceBetween: 0,

            //     // レスポンシブブレーポイント（画面幅による設定）
            //     breakpoints: {
            //         // 画面幅が 640px 以上の場合（window width >= 640px）
            //         // 640: {
            //         //     slidesPerView: 2,
            //         //     spaceBetween: 5
            //         // },
            //         // // 画面幅が 980px 以上の場合（window width >= 980px）
            //         // 980: {
            //         //     slidesPerView: 3,
            //         //     spaceBetween: 10
            //         // }
            //     },
            //     pagination: {
            //         el: '.swiper-pagination', //ページネーションの要素
            //         // type: 'bullets', //ページネーションの種類
            //         clickable: true, //クリックに反応させる
            //         renderBullet: function(index, className) {
            //             return '<span class="' + className + '">' + (index + 1) + '</span>';
            //         }
            //     },

            //     //ナビゲーションボタン（矢印）表示の設定
            //     navigation: {
            //         nextEl: '.swiper-button-next', //「次へボタン」要素の指定
            //         prevEl: '.swiper-button-prev', //「前へボタン」要素の指定
            //     },



            //     //スクロールバー表示の設定
            //     scrollbar: {
            //         el: '.swiper-scrollbar', //要素の指定
            //         draggable: true,
            //     },
            // });
            // const container = document.querySelector('#swiper01');
            // const prev_button = document.querySelector('#swiper01 .swiper-button-prev');
            // const next_button = document.querySelector('#swiper01 .swiper-button-next');
            // //マウスオーバーイベント
            // container.addEventListener('mouseenter', () => {
            //     // hover クラスを追加
            //     prev_button.classList.add('hover');
            //     next_button.classList.add('hover');
            // });
            // //マウスアウトイベント
            // container.addEventListener('mouseleave', () => {
            //     // hover クラスを削除
            //     prev_button.classList.remove('hover');
            //     next_button.classList.remove('hover');
            // });

            // mySwiper.on('slideChange', function() {
            //     console.log('slide changed');
            // });
        </script>
        </body>

        </html>