@charset "UTF-8";
/* Document
 * ========================================================================== */
/**
 * Add border box sizing in all browsers (opinionated).
 */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
 * 1. Add text decoration inheritance in all browsers (opinionated).
 * 2. Add vertical alignment inheritance in all browsers (opinionated).
 */
::before,
::after {
  text-decoration: inherit;
  /* 1 */
  vertical-align: inherit;
  /* 2 */
}

/**
 * 1. Use the default cursor in all browsers (opinionated).
 * 2. Change the line height in all browsers (opinionated).
 * 3. Use a 4-space tab width in all browsers (opinionated).
 * 4. Remove the grey highlight on links in iOS (opinionated).
 * 5. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 * 6. Breaks words to prevent overflow in all browsers (opinionated).
 */
html {
  cursor: default;
  /* 1 */
  line-height: 1.5;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%;
  /* 5 */
  -webkit-text-size-adjust: 100%;
  /* 5 */
  word-break: break-word;
  /* 6 */
}

/* Sections
 * ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Edge, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
 * ========================================================================== */
/**
 * Remove the margin on nested lists in Chrome, Edge, IE, and Safari.
 */
dl dl,
dl ol,
dl ul,
ol dl,
ul dl {
  margin: 0;
}

/**
 * Remove the margin on nested lists in Edge 18- and IE.
 */
ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0;
}

/**
 * 1. Add the correct sizing in Firefox.
 * 2. Show the overflow in Edge 18- and IE.
 */
hr {
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * Add the correct display in IE.
 */
main {
  display: block;
}

/**
 * Remove the list style on navigation lists in all browsers (opinionated).
 */
nav ol,
nav ul {
  list-style: none;
  padding: 0;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
 * ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Add the correct text decoration in Edge 18-, IE, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/* Embedded content
 * ========================================================================== */
/*
 * Change the alignment on media elements in all browsers (opinionated).
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on iframes in all browsers (opinionated).
 */
iframe {
  border-style: none;
}

/**
 * Remove the border on images within links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Change the fill color to match the text color in all browsers (opinionated).
 */
svg:not([fill]) {
  fill: currentColor;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Tabular data
 * ========================================================================== */
/**
 * Collapse border spacing in all browsers (opinionated).
 */
table {
  border-collapse: collapse;
}

/* Forms
 * ========================================================================== */
/**
 * Remove the margin on controls in Safari.
 */
button,
input,
select {
  margin: 0;
}

/**
 * 1. Show the overflow in IE.
 * 2. Remove the inheritance of text transform in Edge 18-, Firefox, and IE.
 */
button {
  overflow: visible;
  /* 1 */
  text-transform: none;
  /* 2 */
}

/**
 * Correct the inability to style buttons in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * 1. Change the inconsistent appearance in all browsers (opinionated).
 * 2. Correct the padding in Firefox.
 */
fieldset {
  border: 1px solid #a0a0a0;
  /* 1 */
  padding: 0.35em 0.75em 0.625em;
  /* 2 */
}

/**
 * Show the overflow in Edge 18- and IE.
 */
input {
  overflow: visible;
}

/**
 * 1. Correct the text wrapping in Edge 18- and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in Edge 18- and IE.
 * 2. Add the correct vertical alignment in Chrome, Edge, and Firefox.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the inheritance of text transform in Firefox.
 */
select {
  text-transform: none;
}

/**
 * 1. Remove the margin in Firefox and Safari.
 * 2. Remove the default vertical scrollbar in IE.
 * 3. Change the resize direction in all browsers (opinionated).
 */
textarea {
  margin: 0;
  /* 1 */
  overflow: auto;
  /* 2 */
  resize: vertical;
  /* 3 */
}

/**
 * Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  padding: 0;
}

/**
 * 1. Correct the odd appearance in Chrome, Edge, and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * Remove the inner padding in Chrome, Edge, and Safari on macOS.
 */
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style upload buttons in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Remove the inner border and padding of focus outlines in Firefox.
 */
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus outline styles unset by the previous rule in Firefox.
 */
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove the additional :invalid styles in Firefox.
 */
:-moz-ui-invalid {
  box-shadow: none;
}

/* Interactive
 * ========================================================================== */
/*
 * Add the correct display in Edge 18- and IE.
 */
details {
  display: block;
}

/*
 * Add the correct styles in Edge 18-, IE, and Safari.
 */
dialog {
  background-color: white;
  border: solid;
  color: black;
  display: block;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}

dialog:not([open]) {
  display: none;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
 * ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* User interaction
 * ========================================================================== */
/*
 * 1. Remove the tapping delay in IE 10.
 * 2. Remove the tapping delay on clickable elements
      in all browsers (opinionated).
 */
a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
  /* 1 */
  touch-action: manipulation;
  /* 2 */
}

/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

/* Accessibility
 * ========================================================================== */
/**
 * Change the cursor on busy elements in all browsers (opinionated).
 */
[aria-busy="true"] {
  cursor: progress;
}

/*
 * Change the cursor on control elements in all browsers (opinionated).
 */
[aria-controls] {
  cursor: pointer;
}

/*
 * Change the cursor on disabled, not-editable, or otherwise
 * inoperable elements in all browsers (opinionated).
 */
[aria-disabled="true"],
[disabled] {
  cursor: not-allowed;
}

/*
 * Change the display on visually hidden accessible elements
 * in all browsers (opinionated).
 */
[aria-hidden="false"][hidden] {
  display: initial;
}

[aria-hidden="false"][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

@media screen and (min-width: 750px), print {
  .test {
    font-size: 20px;
  }
}

@media screen and (min-width: 1200px), print {
  .test {
    font-size: 40px;
  }
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Noto Sans', 'Noto Sans JP';
}

body h1 {
  font-size: 26px;
  line-height: 1.5;
  color: #6e6e6e;
}

@media screen and (min-width: 750px), print {
  body h1 {
    font-size: 32px;
    width: calc-percent(650px);
  }
}

body h2 {
  font-size: 24px;
  line-height: 1.5;
  color: #6e6e6e;
}

@media screen and (min-width: 750px), print {
  body h2 {
    font-size: 32px;
  }
}

body p {
  font-size: 14px;
  line-height: 1.75;
  color: #6e6e6e;
}

body ul,
body ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

body button {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', 'Noto Sans JP';
}

@font-face {
  font-family: "icons";
  src: url("./fonts/icons/icons.eot");
  src: url("./fonts/icons/icons.eot?#iefix") format("eot"), url("./fonts/icons/icons.woff2") format("woff2"), url("./fonts/icons/icons.woff") format("woff"), url("./fonts/icons/icons.ttf") format("truetype"), url("./fonts/icons/icons.svg#icons") format("svg");
}

[class*=" icon-"],
[class^=icon-] {
  font-family: "icons";
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right::before {
  content: "";
}

.icon-arrow-right1000::before {
  content: "";
}

.icon-arrow-right2000::before {
  content: "";
}

.icon-awes::before {
  content: "";
}

.icon-cat::before {
  content: "";
}

.icon-circle::before {
  content: "";
}

.icon-dog::before {
  content: "";
}

.icon-favorite-24px::before {
  content: "";
}

.icon-heart-solid::before {
  content: "";
}

.icon-mate::before {
  content: "";
}

.icon-rabbit::before {
  content: "";
}

.icon-rectangle::before {
  content: "";
}

.icon-rectangle1000::before {
  content: "";
}

.icon-rectangle10000::before {
  content: "";
}

.icon-rectangle15000::before {
  content: "";
}

.icon-rectangle2000::before {
  content: "";
}

.icon-rectangle3000::before {
  content: "";
}

.icon-rectangle4000::before {
  content: "";
}

.icon-rectangle4000b::before {
  content: "";
}

.icon-u0020-space::before {
  content: "";
}

.icon-uE001-github::before {
  content: "";
}

.icon-uE002-arrow-down::before {
  content: "";
}

.icon-uE003-arrow-left::before {
  content: "";
}

.icon-uE004-arrow-right::before {
  content: "";
}

.icon-uE005-arrow-up::before {
  content: "";
}

.icon-uE006-google::before {
  content: "";
}

.icon-uE007-remove::before {
  content: "";
}

.icon-uE008-twitter::before {
  content: "";
}

.l-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.l-block > .l-blockItem {
  margin-left: 15px;
  margin-right: 15px;
  width: 100%;
}

.l-block > .l-blockItem--noMargin {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

.l-block > .l-blockItem1to2 {
  margin-left: 15px;
  margin-right: 15px;
  width: 100%;
}

@media screen and (min-width: 750px), print {
  .l-block > .l-blockItem1to2 {
    width: calc(((100% - 30px * 12) / 12) * 6 + 30px * 5);
  }
}

.l-block > .l-blockItem1to2--noMargin {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

@media screen and (min-width: 750px), print {
  .l-block > .l-blockItem1to2--noMargin {
    width: calc((100% / 2) - 15px);
    margin-right: 30px;
  }
  .l-block > .l-blockItem1to2--noMargin:nth-child(2n) {
    margin-right: 0;
  }
}

.l-block > .l-blockItem1to3 {
  margin-left: 15px;
  margin-right: 15px;
  width: 100%;
}

@media screen and (min-width: 750px), print {
  .l-block > .l-blockItem1to3 {
    width: calc(((100% - 30px * 12) / 12) * 4 + 30px * 3);
  }
}

.l-block > .l-blockItem1to3--noMargin {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

@media screen and (min-width: 750px), print {
  .l-block > .l-blockItem1to3--noMargin {
    width: calc((100% / 3) - 20px);
    margin-right: 30px;
  }
  .l-block > .l-blockItem1to3--noMargin:nth-child(3n) {
    margin-right: 0;
  }
}

.l-block > .l-blockItem1to4 {
  margin-left: 15px;
  margin-right: 15px;
  width: 100%;
}

@media screen and (min-width: 750px), print {
  .l-block > .l-blockItem1to4 {
    width: calc(((100% - 30px * 12) / 12) * 3 + 30px * 2);
  }
}

.l-block > .l-blockItem1to4--noMargin {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

@media screen and (min-width: 750px), print {
  .l-block > .l-blockItem1to4--noMargin {
    width: calc((100% / 4) - (90px / 4));
    margin-right: 30px;
  }
  .l-block > .l-blockItem1to4--noMargin:nth-child(4n) {
    margin-right: 0;
  }
}

.l-build {
  background-color: rgba(0, 255, 0, 0.1);
  padding: 0 12px;
  max-width: 1280px;
  margin: 0 auto;
  background-color: rgba(0, 255, 0, 0.1);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

@media screen and (min-width: 750px), print {
  .l-build {
    padding: 0 10px;
  }
}

.l-build__sideBar {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  background-color: rgba(255, 0, 0, 0.1);
}

@media screen and (min-width: 750px), print {
  .l-build__sideBar {
    margin-left: 15px;
    margin-right: 35px;
    width: calc(((100% - 30px * 12) / 12) * 4 + 30px * 3 - 20px);
  }
}

.l-build__contents {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  background-color: rgba(255, 255, 0, 0.1);
}

@media screen and (min-width: 750px), print {
  .l-build__contents {
    margin-left: 15px;
    margin-right: 15px;
    width: calc(((100% - 30px * 12) / 12) * 8 + 30px * 7);
  }
}

.l-grid {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(255, 0, 0, 0.25);
}

.l-grid__item {
  width: calc((100% - 20px * 12) / 12);
  height: 80px;
  margin-right: 15px;
  margin-left: 15px;
  background: rgba(0, 0, 255, 0.25);
}

.l-guest {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(255, 255, 0, 0.2);
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.l-guest__profile {
  height: 200px;
  margin-left: 15px;
  margin-right: 15px;
  background-color: rgba(255, 0, 0, 0.2);
  width: 100%;
}

@media screen and (min-width: 750px), print {
  .l-guest__profile {
    width: calc(((100% - 30px * 12) / 12) * 2 + 30px * (2 - 1));
  }
}

.l-guest__main {
  height: 200px;
  width: 100%;
  margin-left: 15px;
  margin-right: 15px;
  background-color: rgba(0, 255, 0, 0.2);
}

@media screen and (min-width: 750px), print {
  .l-guest__main {
    width: calc(((100% - 30px * 12) / 12) * 7 + 30px * (7 - 1));
  }
}

.l-guest__sideBar {
  height: 200px;
  margin-left: 15px;
  margin-right: 15px;
  background-color: rgba(0, 0, 255, 0.2);
  width: 100%;
}

@media screen and (min-width: 750px), print {
  .l-guest__sideBar {
    width: calc(((100% - 30px * 12) / 12) * 3 + 30px * (3 - 1));
  }
}

.l-header {
  background-color: rgba(0, 0, 255, 0.1);
}

.l-header__inner {
  max-width: 1280px;
  margin: 0 auto;
  background-color: rgba(0, 0, 255, 0.1);
}

.c-button {
  display: inline-table;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  line-height: 1.2;
  border-radius: 999px;
  background-color: white;
  border: 1px solid red;
  color: red;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}

.c-button:focus, .c-button:hover {
  background-color: red;
  color: white;
}

.c-button__text {
  overflow-wrap: break-word;
  vertical-align: middle;
  text-align: center;
  display: table-cell;
  max-width: 100%;
}

.c-button__text2 {
  overflow-wrap: break-word;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%, -50%);
      -ms-transform: translateY(-50%, -50%);
          transform: translateY(-50%, -50%);
  display: table-cell;
  max-width: 100%;
}

.c-paging {
  display: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 750px), print {
  .c-paging {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

.c-paging > li {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-right: 10px;
}

.c-paging > li:last-child {
  margin-right: 0;
}

.c-paging > li a {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35px;
  height: 35px;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.c-paging__number {
  font-weight: bold;
}

.c-paging__start.is_disabled, .c-paging__prev.is_disabled, .c-paging__next.is_disabled, .c-paging__end.is_disabled {
  visibility: hidden;
}

.c-paging--sp {
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 480px;
}

@media screen and (min-width: 750px), print {
  .c-paging--sp {
    display: none;
  }
}

.c-paging--sp > li {
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.c-paging__start--sp, .c-paging__prev--sp, .c-paging__next--sp, .c-paging__end--sp {
  margin: 0;
  width: 35px;
  height: 35px;
}

.c-paging__start--sp:last-child, .c-paging__prev--sp:last-child, .c-paging__next--sp:last-child, .c-paging__end--sp:last-child {
  margin-right: 0;
}

.c-paging__start--sp a, .c-paging__prev--sp a, .c-paging__next--sp a, .c-paging__end--sp a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.c-paging__start--sp {
  margin-right: 10px;
}

.c-paging__end--sp {
  margin-left: 10px;
}

.c-paging__number--sp {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.c-table {
  font-size: 1.4rem;
  width: 100%;
  table-layout: fixed;
}

.c-table__header {
  padding: 20px;
  color: #333;
  background-color: #f5f5f5;
  border: 1px solid #e6e6e6;
  font-weight: bold;
  vertical-align: middle;
  text-align: left;
  line-height: 1.2;
}

.c-table__header--textNormal {
  padding: 20px;
  color: #333;
  background-color: #f5f5f5;
  border: 1px solid #e6e6e6;
  vertical-align: middle;
  text-align: left;
  line-height: 1.2;
}

.c-table__text {
  padding: 20px;
  line-height: 1.75;
  border: 1px solid #e6e6e6;
  color: #6e6e6e;
}

.c-table__image {
  padding: 10px;
  overflow: hidden;
  border: 1px solid #e6e6e6;
}

.c-table__image img {
  width: 100%;
  height: auto;
}

.c-table__image--noBorder {
  padding: 10px;
  overflow: hidden;
}

.c-table__image--noBorder img {
  width: 100%;
  height: auto;
}

.p-bgWhite__inner {
  padding: 0 12px;
  max-width: 1280px;
  margin: 0 auto;
}

@media screen and (min-width: 750px), print {
  .p-bgWhite__inner {
    padding: 0 10px;
  }
}

.p-bgWhite__inner--noPadding {
  padding: 0;
  max-width: 1280px;
  margin: 0 auto;
}

.p-button {
  min-height: 50px;
}

.p-button--xs {
  min-height: 35px;
}

.p-button--xxs {
  min-height: 22px;
}

.p-button__text {
  min-width: 295px;
  min-height: 50px;
  padding: 5px 20px;
  font-size: 1.4rem;
}

@media screen and (min-width: 750px), print {
  .p-button__text {
    min-width: 230px;
    padding: 5px 35px;
  }
}

.p-button__text--xs {
  min-width: 140px;
  min-height: 35px;
  padding: 3px 15px;
  font-size: 1.4rem;
}

@media screen and (min-width: 750px), print {
  .p-button__text--xs {
    padding: 3px 25px;
  }
}

.p-button__text--xxs {
  min-width: 120px;
  min-height: 22px;
  padding: 3px 15px;
  font-size: 1.0rem;
}

.p-button__textIconRight {
  min-width: 295px;
  min-height: 50px;
  padding: 5px 30px 5px 20px;
  font-size: 1.4rem;
}

@media screen and (min-width: 750px), print {
  .p-button__textIconRight {
    min-width: 230px;
    padding: 5px 40px 5px 35px;
  }
}

.p-button__textIconRight--xs {
  min-width: 140px;
  min-height: 35px;
  padding: 3px 25px 3px 15px;
  font-size: 1.4rem;
}

@media screen and (min-width: 750px), print {
  .p-button__textIconRight--xs {
    padding: 3px 35px 3px 25px;
  }
}

.p-button__textIconRight--xxs {
  min-width: 120px;
  min-height: 22px;
  padding: 3px 25px 3px 15px;
  font-size: 1.0rem;
}

.p-button__textSearch {
  min-width: 140px;
  min-height: 35px;
  padding: 3px 15px 3px 45px;
  font-size: 1.4rem;
}

@media screen and (min-width: 750px), print {
  .p-button__textSearch {
    padding: 3px 25px 3px 50px;
  }
}

.p-button__searchIcon {
  position: absolute;
  top: 50%;
  left: 30px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  vertical-align: middle;
  display: table-cell;
  color: currentColor;
}

.p-button__externalIcon {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  vertical-align: middle;
  display: table-cell;
  color: currentColor;
}

.p-card__link {
  display: block;
  color: currentColor;
  text-decoration: none;
  -webkit-transition: .25s;
  -o-transition: .25s;
  transition: .25s;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.p-card__imgWrap {
  margin: 0;
  padding: 0;
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
}

.p-card__img {
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.p-card__body {
  padding: 15px;
}

.p-card__body > *:last-child {
  margin-bottom: 0;
}

.p-card__title {
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
  font-size: 1.125rem;
  font-weight: bold;
}

.p-card__text {
  margin: 0;
  padding: 0;
  color: #777;
}

.p-heading__inner {
  padding: 0 12px;
  max-width: 1280px;
  margin: 0 auto;
}

@media screen and (min-width: 750px), print {
  .p-heading__inner {
    padding: 0 10px;
  }
}

.p-heading__inner--noPadding {
  padding: 0;
  max-width: 1280px;
  margin: 0 auto;
}

.p-horizontalTabale {
  border: 1px solid #e6e6e6;
  font-size: 1.4rem;
  line-height: 1.75;
  margin: 0 auto;
  overflow-x: auto;
}

.p-horizontalTabale__inner {
  width: 950px;
  max-width: 950px;
}

.p-horizontalTabale__header {
  width: 20%;
  padding: 20px;
  background-color: #f5f5f5;
  border-right: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  font-weight: bold;
  vertical-align: middle;
  text-align: left;
  line-height: 1.2;
}

.p-horizontalTabale__text {
  padding: 20px;
  border-bottom: 1px solid #e6e6e6;
}

.p-horizontalTabale__row:last-child .p-horizontalTabale__header,
.p-horizontalTabale__row:last-child .p-horizontalTabale__text {
  border-bottom-width: 0;
}

.p-iconButon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
  border-radius: 50%;
}

.p-iconButon:hover {
  background-color: gray;
}

@media screen and (min-width: 750px), print {
  .p-iconButon:hover::after {
    content: attr(data-icon);
    position: absolute;
    top: -30px;
    padding: 5px;
    text-align: center;
    white-space: nowrap;
    background-color: black;
    color: white;
  }
}

.p-link {
  font-size: 1.4rem;
  text-decoration: none;
  display: inline-block;
  padding-left: 1em;
  text-indent: -0.6em;
}

.p-link::before {
  vertical-align: middle;
  display: inline-block;
  margin-left: 0.2em;
  margin-right: 0.4em;
}

.p-link:hover, .p-link:focus {
  text-decoration: underline;
}

.p-link--secondary {
  font-size: 1.4rem;
  text-decoration: none;
}

.p-link--secondary::before {
  content: "";
  width: .3em;
  height: .3em;
  border-radius: 50%;
  display: inline-block;
  background-color: black;
  margin-right: 0.3em;
  margin-left: 0.3em;
  vertical-align: middle;
}

.p-link--secondary:hover, .p-link--secondary:focus {
  color: red;
  text-decoration: underline;
}

.p-link--external::before {
  display: inline-block;
  margin-right: 0.3em;
  margin-left: 0.3em;
  vertical-align: middle;
}

.p-mobile-scroll__wrap {
  margin: 0 auto;
  width: 500px;
}

@media only screen and (max-width: 500px) {
  .p-mobile-scroll__wrap {
    width: 100%;
  }
}

.p-mobile-scroll table {
  border-collapse: collapse;
  width: 100%;
}

.p-mobile-scroll th,
.p-mobile-scroll td {
  padding: 5px;
  border: solid 1px #333;
}

@media only screen and (max-width: 500px) {
  .p-mobile-scroll .mobile-scroll {
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}

.p-newProducts {
  background-color: rgba(255, 0, 0, 0.1);
}

.p-newProducts__inner {
  padding: 0 12px;
  max-width: 1280px;
  margin: 0 auto;
  background-color: rgba(255, 0, 0, 0.1);
}

@media screen and (min-width: 750px), print {
  .p-newProducts__inner {
    padding: 0 10px;
  }
}

.p-newProducts__inner--noPadding {
  padding: 0;
  max-width: 1280px;
  margin: 0 auto;
  background-color: rgba(255, 0, 0, 0.1);
}

.p-newsevents {
  background-color: rgba(0, 255, 0, 0.1);
}

.p-newsevents__inner {
  padding: 0 12px;
  max-width: 1280px;
  margin: 0 auto;
  background-color: rgba(0, 255, 0, 0.1);
}

@media screen and (min-width: 750px), print {
  .p-newsevents__inner {
    padding: 0 10px;
  }
}

.p-newsevents__inner--noPadding {
  padding: 0;
  max-width: 1280px;
  margin: 0 auto;
  background-color: rgba(0, 255, 0, 0.1);
}

.p-pagenation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.p-pagenation__prev, .p-pagenation__next {
  min-height: 35px;
  background-color: white;
  border: 1px solid #999;
  color: #333;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}

.p-pagenation__prev:focus, .p-pagenation__prev:hover, .p-pagenation__next:focus, .p-pagenation__next:hover {
  background-color: #999;
  color: white;
}

.p-pagenation__text {
  min-height: 50px;
  padding: 5px 20px;
  font-size: 1.4rem;
}

@media screen and (min-width: 750px), print {
  .p-pagenation__text {
    padding: 5px 35px;
  }
}

.p-pagenation__numberWrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.p-pagenation__numberItem {
  font-size: 1.6rem;
  color: #6e6e6e;
}

.p-pagenation__numberItem + .p-pagenation__numberItem {
  margin-left: 20px;
}

.p-pagenation__numberItem:focus, .p-pagenation__numberItem:hover, .p-pagenation__numberItem.is_current {
  color: #333;
  font-weight: bold;
}

.p-pagenation__numberItem > a {
  display: inline-block;
  padding: 5px;
  text-decoration: none;
  color: currentColor;
}

.p-pagenation__numberItem.is_current > a {
  cursor: default;
}

.p-paging--today > li a {
  background-color: white;
  color: black;
  border: #014254 solid 1px;
}

.p-paging--today > li a:hover {
  text-decoration: none;
  background-color: #FEC330;
  color: white;
  border-color: #FEC330;
}

.p-paging--today > li.is_current a {
  background-color: #FEC330;
  color: white;
  border-color: #FEC330;
}

.p-paging--brand > li a {
  background-color: white;
  color: black;
}

.p-paging--brand > li a:hover {
  text-decoration: none;
  background-color: black;
  color: white;
}

.p-paging--brand > li.is_current a {
  background-color: black;
  color: white;
}

.p-recomended {
  background-color: rgba(255, 0, 255, 0.1);
}

.p-recomended__inner {
  padding: 0 12px;
  max-width: 1280px;
  margin: 0 auto;
  background-color: rgba(255, 0, 255, 0.1);
}

@media screen and (min-width: 750px), print {
  .p-recomended__inner {
    padding: 0 10px;
  }
}

.p-recomended__inner--noPadding {
  padding: 0;
  max-width: 1280px;
  margin: 0 auto;
  background-color: rgba(255, 0, 255, 0.1);
}

.p-spacingImage__wrap {
  display: block;
  -webkit-flex-wrap: awrap;
      -ms-flex-wrap: awrap;
          flex-wrap: awrap;
  background-color: pink;
}

.p-spacingImage__imageRight {
  width: 100%;
  margin-left: 2px;
  margin-right: 2000px;
}

@media screen and (min-width: 750px), print {
  .p-spacingImage__imageRight {
    margin-left: 15px;
    margin-right: 15px;
    width: calc(((100% - 30px * 12) / 12) * 4 + 30px * (4 - 1));
  }
}

.p-spacingImage__contentsLeft {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

@media screen and (min-width: 750px), print {
  .p-spacingImage__contentsLeft {
    margin-left: 15px;
    margin-right: 15px;
    width: calc(((100% - 30px * 12) / 12) * 8 + 30px * (8 - 1));
  }
}

.p-table__wrap {
  width: 750px;
  max-width: 100%;
  margin: 0 auto;
}

.p-table__header {
  width: 33%;
}

.p-tableApplications__wrap {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 750px), print {
  .p-tableApplications__wrap {
    padding: 0 15px;
  }
}

.p-tableApplications__applicationsWidth {
  width: 55%;
}

@media screen and (min-width: 750px), print {
  .p-tableApplications__applicationsWidth {
    width: 70%;
  }
}

.p-tableCompare {
  padding: 0 0 0 12px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
}

@media screen and (min-width: 750px), print {
  .p-tableCompare {
    padding: 0 25px;
  }
}

.p-tableCompare__inner {
  margin: 0 auto;
  width: 1230px;
  max-width: none;
}

@media screen and (min-width: 750px), print {
  .p-tableCompare__inner {
    max-width: 100%;
  }
}

.p-tableCompare__partWidth {
  width: 20%;
}

.p-tableCompare__applicationsWidth {
  width: 15%;
}

.p-tableCompare__appearanceWidth {
  width: 15%;
}

.p-tableCompare__qtyWidth {
  width: 10%;
}

.p-tableCompare__remarksWidth {
  width: 40%;
}

.p-tableProduct {
  padding: 0 0 0 12px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
}

@media screen and (min-width: 750px), print {
  .p-tableProduct {
    padding: 0 25px;
  }
}

.p-tableProduct__inner {
  margin: 0 auto;
  width: 1230px;
  max-width: none;
}

@media screen and (min-width: 750px), print {
  .p-tableProduct__inner {
    max-width: 100%;
  }
}

.p-tableProduct__partWidth {
  width: 20%;
}

.p-tableProduct__applicationsWidth {
  width: 15%;
}

.p-tableProduct__appearanceWidth {
  width: 15%;
}

.p-tableProduct__qtyWidth {
  width: 10%;
}

.p-tableProduct__remarksWidth {
  width: 40%;
}
