.p-button {
    min-height: 50px;
    &--xs {
        min-height: 35px;
    }
    &--xxs {
        min-height: 22px;
    }
    &__text {
        min-width: 295px;
        min-height: 50px;
        padding: 5px 20px;
        font-size: 1.4rem;
        @include minScreen($breakpoint_mobile) {
            min-width: 230px;
            padding: 5px 35px;
        }
        &--xs {
            min-width: 140px;
            min-height: 35px;
            padding: 3px 15px;
            font-size: 1.4rem;
            @include minScreen($breakpoint_mobile) {
                padding: 3px 25px;
            }
        }
        &--xxs {
            min-width: 120px;
            min-height: 22px;
            padding: 3px 15px;
            font-size: 1.0rem;
        }
    }
    &__textIconRight {
        min-width: 295px;
        min-height: 50px;
        padding: 5px 30px 5px 20px;
        font-size: 1.4rem;
        @include minScreen($breakpoint_mobile) {
            min-width: 230px;
            padding: 5px 40px 5px 35px;
        }
        &--xs {
            min-width: 140px;
            min-height: 35px;
            padding: 3px 25px 3px 15px;
            font-size: 1.4rem;
            @include minScreen($breakpoint_mobile) {
                padding: 3px 35px 3px 25px;
            }
        }
        &--xxs {
            min-width: 120px;
            min-height: 22px;
            padding: 3px 25px 3px 15px;
            font-size: 1.0rem;
        }
    }
    &__textSearch {
        min-width: 140px;
        min-height: 35px;
        padding: 3px 15px 3px 45px;
        font-size: 1.4rem;
        @include minScreen($breakpoint_mobile) {
            padding: 3px 25px 3px 50px;
        }
    }
    &__searchIcon {
        position: absolute;
        top: 50%;
        left: 30px;
        transform: translateY(-50%);
        vertical-align: middle;
        display: table-cell;
        color: currentColor;
        // &:focus,
        // &:hover {
        //     color: white;
        // }
    }
    &__externalIcon {
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        vertical-align: middle;
        display: table-cell;
        color: currentColor;
        // &:focus,
        // &:hover {
        //     color: white;
        // }
    }
}