.p-horizontalTabale {
    border: 1px solid #e6e6e6;
    font-size: 1.4rem;
    line-height: 1.75;
    margin: 0 auto;
    overflow-x: auto;
    &__inner {
        width: 950px;
        max-width: 950px;
        // width: 100%;
        // table-layout: fixed;
    }
    &__header {
        width: 20%;
        padding: 20px;
        background-color: #f5f5f5;
        border-right: 1px solid #e6e6e6;
        border-bottom: 1px solid #e6e6e6;
        font-weight: bold;
        vertical-align: middle;
        text-align: left;
        line-height: 1.2;
    }
    &__text {
        padding: 20px;
        border-bottom: 1px solid #e6e6e6;
    }
    &__row:last-child &__header,
    &__row:last-child &__text {
        border-bottom-width: 0;
    }
}