.p-mobile-scroll {
    &__wrap {
        margin: 0 auto;
        width: 500px;
        @media only screen and (max-width: 500px) {
            width: 100%;
        }
    }
    table {
        border-collapse: collapse;
        width: 100%;
    }
    th,
    td {
        padding: 5px;
        border: solid 1px #333;
    }
    @media only screen and (max-width: 500px) {
        .mobile-scroll {
            white-space: nowrap;
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
        }
    }
}