.p-pagenation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    &__prev,
    &__next {
        min-height: 35px;
        background-color: white;
        border: 1px solid #999;
        color: #333;
        transition: 0.25s;
        &:focus,
        &:hover {
            background-color: #999;
            color: white;
        }
    }
    &__text {
        min-height: 50px;
        padding: 5px 20px;
        font-size: 1.4rem;
        @include minScreen($breakpoint_mobile) {
            padding: 5px 35px;
        }
    }
    &__next {}
    &__numberWrap {
        display: flex;
        flex-wrap: wrap;
    }
    &__numberItem {
        font-size: 1.6rem;
        color: #6e6e6e;
        &+& {
            margin-left: 20px;
        }
        &:focus,
        &:hover,
        &.is_current {
            color: #333;
            font-weight: bold;
        }
        >a {
            display: inline-block;
            padding: 5px;
            text-decoration: none;
            color: currentColor;
        }
        &.is_current>a {
            cursor: default;
        }
    }
}