.p-tableApplications {
    &__wrap {
        width: 1000px;
        max-width: 100%;
        margin: 0 auto;
        @include minScreen($breakpoint_mobile) {
            padding: 0 15px;
        }
    }
    &__header {}
    &__text {}
    &__applicationsWidth {
        width: 55%;
        @include minScreen($breakpoint_mobile) {
            width: 70%;
        }
    }
}