<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../sass/dest/index.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Sans+JP&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <header class="l-header p-header">
        <div class="l-header__inner">
            <h1 class="p-header__logo">
                <a href="#" class="p-header__logoLink">
                    <img src="" class="p-header__logoImg" alt="">
                </a>
            </h1>
            <nav class="p-globalNavi">
                <!-- <%= title %> -->
                ナビゲーション ナビゲーゲーション
                <p>イロハニホヘ</p>
            </nav>
        </div>
    </header>