<div class="<%= className %> p-card">
    <a href="" class="p-card__link">
        <figure class="p-card__imgWrap">
            <img class="p-card__img" alt="" src="../image/bear.PNG">
        </figure>
        <div class="p-card__body">
            <h3 class="p-card__title">
                webサイト制作
            </h3>
            <p class="p-card__text">
                ユーザーにベストな体験を提供するクリエイティブとテクノロジーを作り上げます。
            </p>
        </div>
    </a>
    <!-- /.p-card__body -->
</div>